[2017-10-20 15:58] greenkeeper[bot] opened #3 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2017-10-24 02:22] #3 closed

[2017-10-26 17:59] vkedia opened #13 "KeepAlive does not work on SessionPool"
cc @lukesneeringer @callmehiphop @stephenplusplus
I am using the latest version of the node.js client. It seems that KeepAlive logic does not work.
To reproduce I wrote a simple code which set KeepAlive time to 1 minutes and then it makes a single query to ensure that the session is created. After that it just waits for a while on prompt. I would expect that after a few minutes I would see at leas

[2017-10-27 21:01] lukesneeringer opened #18 "Spanner library should have a way to track leaked sessions."
_From @vkedia on May 10, 2017 17:56_

Due to a bug in user code or client library code, it is possible that a session is checked out from the pool but never released. We should make it easier for users to be able to detect such leaks and debug where in there code the leak occurred. One way can be to record a trace in a list or a map whenever a session is checked out and remove that trace when the

[2017-10-27 21:01] lukesneeringer commented on #18
_From @danoscarmike on June 27, 2017 19:29_

As this is not blocking an imminent release perhaps we should consider P1?  Unless I am misunderstanding and there is a critical nature to the issue - security or similar?

[2017-10-27 21:02] lukesneeringer opened #19 "Cloud Spanner Session Pool should rate limit initial session creations."
_From @vkedia on June 14, 2017 20:25_

Cloud Spanner Session pool upon construction would start creating sessions eagerly upto the minimum number of sessions. It will essentially fire all the create requests in parallel. We should instead rate limit the session creation so that it creates at most X number of sessions at a time (X=10 would be a reasonable value).
I realize that this behavior is man

[2017-10-27 21:03] lukesneeringer opened #20 "Spanner node.js client used with GCP Functions generates errors when GCP Function is cold"
_From @8357753 on July 24, 2017 20:52_

#### Environment details

  - OS:  GCP Functions
  - Node.js version:  GCP Functions
  - npm version: 5.0.3
  - google-cloud-node version: google-cloud/spanner 0.7.1

#### Steps to reproduce

  1. Deploy a GCP Function that uses the Spanner node.js client to run transactions against a Spanner database
  2. Invoke the function and ensure that the function cor

[2017-10-27 21:03] lukesneeringer commented on #20
_From @stephenplusplus on July 24, 2017 20:54_

I believe this is a duplicate of #2438, which I see you've posted in. I mean duplicate in the sense that a resolution to that will also resolve this. I'm going to close under that assumption, but please let me know if I'm mistaken and we will re-open.

[2017-10-27 21:03] lukesneeringer commented on #20
_From @8357753 on July 24, 2017 20:57_

Yep I opened this because the other issue concerned logging so I thought I should make the issue clearer.

[2017-10-27 21:03] lukesneeringer commented on #20
_From @8357753 on July 24, 2017 22:32_

But this may not be a duplicate, I don't really know. We use Stackdriver logging in other GCP functions without issue and even with this issue we don't always receive "Endpoint read failed" we sometimes get "Session not found". I was thinking that the connection to Spanner was made but perhaps using an orphaned session i.e. an old one passivated with the con

[2017-10-27 21:03] lukesneeringer commented on #20
_From @8357753 on July 24, 2017 23:41_

Also if I delete the Spanner database and then re-create it I get similar errors and these can only be fixed by re-deploying the GCP Function.

[2017-10-27 21:03] lukesneeringer commented on #20
_From @stephenplusplus on July 25, 2017 13:38_

I'll re-open and maybe @vkedia / @callmehiphop can weigh in.

[2017-10-27 21:03] lukesneeringer commented on #20
_From @callmehiphop on July 25, 2017 15:43_

We have an open issue for the Session not found (#2061). However if you're redeploying, I don't think it would use sessions from an earlier deployment.

I haven't seen any errors involving re-creating databases, could you post any error messages you get when trying to do so?

[2017-10-27 21:04] lukesneeringer commented on #20
_From @8357753 on July 25, 2017 19:55_

This morning I came in and ran the functions a few times via Postman and had no problems i.e. they ran fine from cold. I continued and eventually received:

Error: Endpoint read failed","error_code":14

I then redeployed and immediately ran the functions and had no problems. I then manually ran the functions several times and eventually received:

textPayloa

[2017-10-27 21:04] lukesneeringer commented on #20
_From @8357753 on July 25, 2017 20:13_

Looked at #2061 but we are using GCP Functions so keep alive is not relevant. But I realise I need to call database.close to stop orphaned sessions being used by a cold function.

[2017-10-27 21:04] lukesneeringer commented on #20
_From @vkedia on July 25, 2017 20:22_

When the GCP function is invoked multiple times does it recreate the spanner client each time (specifically the `instance` object) or can it reuse them?
Also note that when a database is deleted all its sessions get invalidated. A general advise will be to redeploy your code in that case.

[2017-10-27 21:04] lukesneeringer commented on #20
_From @8357753 on July 25, 2017 22:56_

Well we could cache the Spanner client (we do so with other logic) but I imagine that would cause issues when the function is cold since the session would be orphaned.

Using Spanner 0.5.0 (downgraded from 0.7.1 but will test that later) with
[code]
at the top of the module but the client, instance and database initialized in the code just before calling 'da

[2017-10-27 21:04] lukesneeringer commented on #20
_From @8357753 on July 25, 2017 23:6_

Makes me think that perhaps a transactional store is not a good fit for GCP Functions/AWS Lambdas (at least ones used infrequently) because of the natural overhead of the session, a session that is not needed when using a NoSQL database, horses for courses I guess...

[2017-10-27 21:04] lukesneeringer commented on #20
_From @8357753 on July 25, 2017 23:19_

Well I spoke too soon, just received a 500 error from the function that seemed to have become reliable and nothing reported in Stackdriver just after the function started. I waited 5 min before running it again and see the entry 'Function execution started' for the new invocation but no 'Function execution took 678 ms, finished with status' entry for the pre

[2017-10-27 21:04] lukesneeringer commented on #20
_From @8357753 on July 26, 2017 8:38_

So I moved all the Spanner initialization code (0.7.1) to a module which caches the logic and removed the 'database.close' calls. Now the Spanner client is only initialized once for as long as the function/container is re-used. I still get the occasional 'connection error' after the function has been cold for along time but only in a function that runs severa

[2017-10-27 21:04] lukesneeringer commented on #20
_From @landrito on August 7, 2017 20:44_

@vkedia Do you have an idea what could be causing this to happen?

[2017-10-27 21:04] lukesneeringer commented on #20
_From @8357753 on August 7, 2017 20:55_

These errors are also still happening and not just when the Functions are cold.

1) connection error
2) Error: Endpoint read failed","error_code":14"
3) "error":"Error: Database not found: projects/REDACTED/instances/REDACTED/databases/REDACTED","error_code":5

[2017-10-27 21:04] lukesneeringer commented on #20
@landrito If I understand correctly from a skim, essentially the issue is that the client object is being shared between different GCF instances, but since network connections do not work that way (you can not serialize a connection and send it across the wire), you end up in a wonky state.

The fix is to either not permit client objects to be serialized and shared (like what Python does) or to en

[2017-10-27 21:04] lukesneeringer opened #21 "Cloud Spanner client should use RetryInfo in gRPC trailer to figure out retry delays"
_From @vkedia on October 2, 2017 22:3_

Cloud spanner client library automatically retries transactions that failed with ABORTED error. Currently it computes the retry delay in code using exponential backoff. But Cloud Spanner sends a RetryInfo trailer whenever it aborts a transaction that tells after how much the transaction should be retried.
Client library should be changed to extract the retry

[2017-10-27 21:04] lukesneeringer opened #22 "Cloud Spanner documentation should talk about supported types"
_From @vkedia on October 4, 2017 22:33_

On the cloud spanner documentation, I could not find any mention of what data types are supported and how are these to be specified in the client library. For eg how would I specify a date or a timestamp or a float or bytes. I have seen customers specifying bytes as Base64 encoded since the rpc protocol talks about that. But the client library does Base64 e

[2017-10-27 21:05] lukesneeringer commented on #22
Hey @jmdobry, did your recent docs update happen to address this? :-)

[2017-10-27 21:11] jmdobry commented on #22
no

[2017-10-27 21:13] landrito commented on #20
I think your understanding is correct.

[2017-10-30 11:25] Chipintoza opened #23 "spanner.instance.exists - function's callback did not return bool value"
OS: Mac OSX 10.13
Node.js version: 6.9.3
npm version: 5.5.1
version: 0.8.0

spanner.instance('name').exists((err, exists) =>
in this callback exists = undefined when instance exist

[2017-10-30 13:32] stephenplusplus commented on #23
Hey @Chipintoza, I think this is a bug that affects all of our libraries. I'm going to close this in favor of https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2702, which reported it a few days ago.

[2017-10-30 13:32] #23 closed

[2017-10-30 15:18] lukesneeringer opened #25 "Cloud Spanner: Session being deleted and created on each call"
_From @vkedia on October 20, 2017 18:45_

A customer reported seeing higher latencies on ExecuteStreamingSql. Debugging further they realised that after every ExecuteStreamingSql call, a DeleteSession and CreateSession is being called which is unexpected.
This is the information from customer:

Our App is currently deployed with-in GCP in a Docker container running Node V8 and we are using Spanner

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 20, 2017 18:52_

cc @lukesneeringer

[2017-10-30 15:18] lukesneeringer commented on #25
@vkedia Can you describe the expected behavior? (In other words, when do you assert the sessions should be created and deleted?)

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 20, 2017 21:4_

Session deletion should always happen asynchronously in the background. Session creation can possibly happen inline. But the main point is at most 100 sessions should be created (since that is the default value for maximum sessions). After that those sessions should be reused. Number of sessions being created should be much lower than the number of read/que

[2017-10-30 15:18] lukesneeringer commented on #25
_From @callmehiphop on October 23, 2017 18:48_

@vkedia this is a small configuration bug and there's a code freeze on Spanner while we migrate it to a new repository, but in the mean time you can tell users to set `maxIdle` to the same value as `min` (or higher)

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 23, 2017 19:59_

So if `maxIdle` is 0 a session gets closed everytime it is returned to the pool?

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 23, 2017 20:0_

Can they set it to be the same as `max` so basically set it to 100?

[2017-10-30 15:18] lukesneeringer commented on #25
_From @callmehiphop on October 23, 2017 21:40_

Yep :/

Yep! For the work around if it is not set, my plan was just to set it to the same value as `min` and if that's not set, set it to `1`. Basically we just want it to be higher than the `min` value.

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 23, 2017 21:52_

Can you point me to the documentation of maxIdle in the third party pooling library you are using? I would like to understand its semantics in bit more details.

[2017-10-30 15:18] lukesneeringer commented on #25
_From @callmehiphop on October 23, 2017 22:8_

Actually it's a feature we implemented per [your request](https://github.com/GoogleCloudPlatform/google-cloud-node-private/pull/12#issuecomment-267658663). I think we just didn't factor in using `min` as a base value.

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 23, 2017 22:26_

Yeah I know it was implemented as per the requirements. But the session being closed was not an idle session. It was just now in use. So even if you don't account for min, it should not be closed? How do you determine how many sessions were idle?

[2017-10-30 15:18] lukesneeringer commented on #25
_From @callmehiphop on October 23, 2017 22:30_

We basically just treated anything not currently being used as an idle session, so even though that particular session was being used, once it was released it was considered idle again. Should we have some sort of configurable timeout that marks it idle?

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 23, 2017 23:6_

Yeah we should have a timeout to mark it idle. The timeout can be 10 minutes and need not be configurable. One challenge around this is depending on how the pooling library checks out sessions, every session would likely get used at least once in 10 minutes even though actual number of sessions needed might be lower. For eg if the pooling library maintains

[2017-10-30 15:18] lukesneeringer commented on #25
_From @vkedia on October 24, 2017 17:20_

This is not completely resolved. As per my last comment, I think the bigger issue is how a session is determined to be idle. That also needs to be fixed. @lukesneeringer can you reopen this?

[2017-10-30 15:18] lukesneeringer commented on #25
Yeah.

[2017-10-30 18:37] Chipintoza commented on #23
hi @stephenplusplus, just for information: it works if i change only spanner version 0.7.1

[2017-10-31 18:56] jfeigel opened #26 "TypeError: session.keepAlive is not a function"
#### Environment details

  - OS: macOS Sierra v10.12.6
  - Node.js version: 7.10.0
  - npm version: 4.2.0
  - @google-cloud/spanner version: 0.7.1

#### Steps to reproduce

  1. Open a connection to the database
  2. Let the connection sit for a while

Here is the error we are seeing in Stackdriver:

[code]

We specify the keepAlive as 30 in the configuration:

[code]

[2017-11-01 19:48] callmehiphop commented on #26
hey @jfeigel, I tried to reproduce this locally but was unable to do so. My first suggestion would be to try upgrading to `0.8.0`. If that does not resolve your issue, would you mind putting together a gist/repo that consistently reproduces the bug?

[2017-11-02 14:02] stephenplusplus opened #27 "Spanner table.read() returns a list of column name-value pairs. Why not an object?"
_From @jgeewax on March 17, 2017 15:52_

The response of calling `table.read(query)` is a list of rows, but the row isn't a native object, instead it's a key-value pair-style object:

[code]

Why wouldn't we match these up as a proper object? Since we don't customers end up having to write a helper-snippet just so they can pass around a useful object... That is, it'd be nice if the rows returned w

[2017-11-02 14:02] stephenplusplus commented on #27
Another clash of idiomatic vs API "what-ifs". Call `.toJSON()` on a row to get the most JS-like thing we could do.

I lost access to the repos we developed in, so I can't link to the history of the decision.

[2017-11-02 14:02] stephenplusplus commented on #27
_From @jgeewax on March 17, 2017 16:33_

@vkedia This seems... silly. What were the what-ifs so we can sort this out?

[2017-11-02 14:02] stephenplusplus commented on #27
I believe it was mostly because columns aren't always named.

Solution: don't include them in the default response, make them available in the `apiResponse` argument
Problem: The default response shouldn't exclude data

[2017-11-02 14:02] stephenplusplus commented on #27
_From @vkedia on March 17, 2017 16:43_

Yes the issue is that columns might not have names or there might be
duplicate names. So it's not guaranteed that each spanner row can be
converted to a json object.

On Mar 17, 2017 9:38 AM, "Stephen Sawchuk" <notifications@github.com> wrote:

[2017-11-02 14:02] stephenplusplus commented on #27
_From @jgeewax on March 17, 2017 17:57_

The guidelines of this library have always been: make the common case easy and the advanced case possible.

In this situation, it seems that we're making the common case annoying to make the advanced case possible, which doesn't make sense to me.

I believe there are a few reasons where we may have either missing names or ambiguous results, such as expressi

[2017-11-02 14:02] stephenplusplus commented on #27
_From @jgeewax on March 17, 2017 18:9_

/cc @stephenplusplus : I think the question then becomes about the best way to have a thing that acts partly like an array, but with a few addressable properties for things falling into item (2) above.

[2017-11-02 14:02] stephenplusplus commented on #27
Yeah, this was my original solution as well. Wish I could link to the original discussion, hoping to get access back soon.

[2017-11-02 14:02] stephenplusplus commented on #27
But basically:

[code]

The hard part is how do we communicate the ambiguity error. If we throw or return it, that takes users down the non-success execution path of their code. Could we just use the docs to state "Here's how we return the response and here's why we do it" and leave it to the user to consider when building their query?

[2017-11-02 14:02] stephenplusplus commented on #27
_From @jgeewax on March 17, 2017 18:36_

We also want:

[code]

Regarding the ambiguity, I see a couple different cases:

1. You're specifying the columns in a query and it results in having duplicate names.

    Throwing an actual error here doesn't seem like a bad idea. You know your query, you'll see it and go "oh got it", and fix the error during development.

2. You're selecting * and it resu

[2017-11-02 14:02] stephenplusplus commented on #27
_From @vkedia on March 17, 2017 18:36_

So I went through the earlier discussion and @stephenplusplus had suggested the exact solution there as well. But my objection at that point was around duplicate column names. I am fine if column with duplicate names cannot be retrieved by name and we just document that fact. But I would also like to have some way for user to know those column names. So lets

[2017-11-02 14:02] stephenplusplus commented on #27
_From @jgeewax on March 17, 2017 19:16_

I'm confused what you mean by this. Can you explain?

[2017-11-02 14:02] stephenplusplus commented on #27
_From @vkedia on March 17, 2017 20:13_

So user should be able to know what the name of a column whose index is i is. It can be as some sort of metadata on the row object.

[2017-11-02 14:02] stephenplusplus commented on #27
_From @chadbr on March 20, 2017 15:49_

could the metadata only exist if there is a conflict? adding a metadata object to every row sounds really expensive...

[2017-11-02 16:56] vkedia commented on #13
@lukesneeringer Any updates on this? Also an this be treated at a higher priority.

[2017-11-02 17:38] callmehiphop commented on #13
@vkedia I'm actively working on changing out our pooling library, which I think will close a number of outstanding bugs.

[2017-11-02 21:39] lukesneeringer commented on #25
@callmehiphop Is this something you can solve in the near future?

[2017-11-03 19:44] vkedia commented on #13
@callmehiphop  Do you have any ETA for this?

[2017-11-03 20:05] callmehiphop commented on #13
@vkedia I should be opening a PR either today or this weekend, hopefully we get it merged in early next week.

[2017-11-03 20:16] vkedia commented on #13
That's perfect. Thanks!

[2017-11-06 14:14] callmehiphop commented on #21
Closed per #12

[2017-11-06 14:14] #21 closed

[2017-11-06 15:14] jfeigel commented on #26
@callmehiphop We solved the issue. Turns out the DBs that we were trying to connect to did not exist, however spanner allowed us to "connect" and didn't send back any kind of error or warning to this fact. So when the session tried the keepAlive it errored out because there wasn't one.

[2017-11-06 17:40] vkedia commented on #26
If the DB did not exist, then creating a session itself would fail and it should not even try to keep alive the session. @callmehiphop I think we should fail more gracefully here.

[2017-11-06 18:12] callmehiphop commented on #26
Yeah, I agree. I think we might want to either create an `open` method which will report any initial failures creating initial sessions/etc. Or else turn the database object into an event emitter that will emit these types of errors.

@stephenplusplus WDYT?

[2017-11-06 19:06] stephenplusplus commented on #26
I would lean towards emitting errors. What do you think, @jfeigel?

[2017-11-06 20:06] jfeigel commented on #26
@stephenplusplus Yes, I think emitting errors would be preferable.

[2017-11-07 01:19] stephenplusplus commented on #20
I believe [this issue](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2438#issuecomment-341551657) should be the one for what we're discussing in this issue. And, I actually [just closed it](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2438#issuecomment-341551657). Please re-open that one if there's more we can do.

[2017-11-07 01:19] #20 closed

[2017-11-07 04:49] greenkeeper[bot] opened #31 "An in-range update of prettier is breaking the build 🚨"
## Version **1.8.0** of [prettier](https://github.com/prettier/prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fprettier-1.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left

[2017-11-08 07:39] ChrisBartonLC commented on #20
@stephenplusplus I have pinned to version 0.14.0 of the PubSub client library and this issue does not occur so somewhere between that version and 0.14.5 CloudFunction support has broken. BTW issue #2489 is > 3 months old and PubSub was working a month ago so this may or may not be related.

[2017-11-08 14:45] stephenplusplus commented on #20
Locking the issue just to make sure we funnel all useful info to one place (https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2438).

[2017-11-09 01:22] greenkeeper[bot] opened #34 "An in-range update of @google-cloud/nodejs-repo-tools is breaking the build 🚨"
## Version **2.1.2** of [@google-cloud/nodejs-repo-tools](https://github.com/GoogleCloudPlatform/nodejs-repo-tools) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2F%40google-cloud%2Fnodejs-repo-tools-2.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </t

[2017-11-11 01:42] greenkeeper[bot] opened #37 "An in-range update of eslint is breaking the build 🚨"
## Version **4.11.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Feslint-4.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-11-12 09:18] greenkeeper[bot] opened #38 "An in-range update of ink-docstrap is breaking the build 🚨"
## Version **1.3.1** of [ink-docstrap](https://github.com/docstrap/docstrap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fink-docstrap-1.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ink-docstrap
    </td>
  </tr>
  <tr>
    <t

[2017-11-13 17:43] #31 closed

[2017-11-13 19:53] #38 closed

[2017-11-13 19:54] #34 closed

[2017-11-13 19:54] #37 closed

[2017-11-15 18:50] greenkeeper[bot] opened #39 "An in-range update of ink-docstrap is breaking the build 🚨"
## Version **1.3.2** of [ink-docstrap](https://github.com/docstrap/docstrap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fink-docstrap-1.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ink-docstrap
    </td>
  </tr>
  <tr>
    <t

[2017-11-15 19:33] #39 closed

[2017-11-17 23:40] vkedia commented on #13
Is there a way to fix this with the current pooling library quickly? Because merging the new library would take a while since it is a big change. It will be good to have a fix in the meantime unless it is non trivial.

[2017-11-22 13:30] Chipintoza opened #42 "select with empty array parameters"
OS: Mac OSX 10.13.1
Node.js version: 8.9.1
npm version: 5.5.1
version: 0.8.0

simple query:

[code]
return error:

[code]

[2017-11-22 13:58] Chipintoza commented on #42
this select works:

[code]

[2017-11-22 14:00] stephenplusplus commented on #42
Thanks for reporting. Should that query execute without error? Or should we improve the error?

[2017-11-22 14:02] stephenplusplus commented on #42
Sorry, didn't see your follow-up comment.

@callmehiphop for thoughts on how to handle.

[2017-11-22 14:06] callmehiphop commented on #42
@Chipintoza It is not always possible for Spanner to infer the right SQL type from JSON, especially for empty values. You can configure the `types` property to work around this.

[code]

[2017-11-22 14:46] Chipintoza commented on #42
there is also some errors:
in transaction.js
[var child;](https://github.com/googleapis/nodejs-spanner/blob/ca0f55b0ccb595519b18ab6ed4b6920aeccdd05a/src/transaction.js#L725)

it must be initialised:
`var child = undefined;`

if in params first property is array all rest properties becomes array

same is in database.js
[code]
this two files has difference logic an is this right?

because of this in

[2017-11-22 14:50] Chipintoza commented on #42
@stephenplusplus thank you
please see last my comment.

[2017-11-22 14:55] Chipintoza opened #43 "select with array parameters"
OS: Mac OSX 10.13.1
Node.js version: 8.9.1
npm version: 5.5.1
version: 0.8.0

there is also some errors:
in transaction.js
[var child;](https://github.com/googleapis/nodejs-spanner/blob/ca0f55b0ccb595519b18ab6ed4b6920aeccdd05a/src/transaction.js#L725)

it must be initialised:
`var child = undefined;`

if in params first property is array all rest properties becomes array

same is in database.js
[c

[2017-11-22 15:10] Chipintoza commented on #42
@stephenplusplus  It would be good if it was documented [in docs](https://googlecloudplatform.github.io/google-cloud-node/#/docs/spanner/0.5.0/spanner/transaction?method=run)

[2017-11-22 15:25] Chipintoza commented on #42
@callmehiphop that means every time when i have array type parameter i need to configure the types property. is this good? if it is, it must be documented.

[2017-11-22 15:39] callmehiphop commented on #42
I hadn't noticed the bug you found, I'll try and resolve this right now.

[2017-11-22 18:05] #42 closed

[2017-11-22 18:05] #43 closed

[2017-11-23 17:01] Chipintoza commented on #23
@stephenplusplus @lukesneeringer  I update spanner to 0.8.1 but it still not works...

[2017-11-24 15:01] callmehiphop commented on #23
@Chipintoza I'm testing this locally and it seems to be working fine, is there any chance there could put together a repo together that reproduces the issue in as few lines as possible?

[2017-11-27 02:36] voltrue2 opened #46 "database.runTransaction(...) callback sometimes gets called more than once"
#### Environment details

  - OS: Mac
  - Node.js version: 7.10.1
  - npm version: 4.2.0
  - @google-cloud/spanner version: 0.8.1

#### Steps to reproduce

  1. Start transaction on a same database, table, and rows with multiple processes (This is to create concurrent read/writes)
  2. Wait and see until some callbacks get called more than once.

NOTE: It seems that this issue occurs when we have

[2017-11-27 12:34] callmehiphop commented on #46
hey @voltrue2, what you are describing is actually happening by design. Sometimes when the same table/rows are being modified by different transactions the server will send an `ABORTED` signal to one of the transactions indicating that it must be rerun in its entirety. The node client will then do that for you by executing the callback again.

If this is something you want to opt out of, I would s

[2017-11-27 17:15] greenkeeper[bot] opened #47 "An in-range update of protobufjs is breaking the build 🚨"
## Version **6.8.1** of [protobufjs](https://github.com/dcodeIO/protobuf.js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fprotobufjs-6.8.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      protobufjs
    </td>
  </tr>
  <tr>
    <th al

[2017-11-27 17:25] stephenplusplus commented on #47
I think we're good-- CI was just laggy / wrong. Re-builds fixed the broken tests.

[2017-11-27 17:25] #47 closed

[2017-11-27 20:13] Chipintoza commented on #23
@callmehiphop thank you...
i make my situation in test project for you [spanner-tests](https://github.com/Chipintoza/spanner-tests)

There is old - package-lock.json
run:
**npm install**
and then run:
**node schema.js**
log is:

when i delete old  package-lock.json
everything work fine:
it looks dependency problems. and in the first situation the wrong grpc@1.3.8 version is installed

[2017-11-27 20:18] Chipintoza commented on #23
@callmehiphop - you need to change spanner.json

[2017-11-27 20:41] callmehiphop commented on #23
@Chipintoza I don't need a copy of spanner.json, I would delete that ASAP and squash your commits to remove it from history.

[2017-11-28 02:25] voltrue2 commented on #46
Hi @callmehiphop, thanks for the swift answer.
I do have another question, though. When I look at my transaction log, a "retry" of a transaction seems to happen after a transaction commit of the same transaction.
Also the transaction commit does not seem to fail.
I am assuming that if the transaction has to be rerun, the commit should also failed?

Thanks!

[2017-11-28 14:25] callmehiphop commented on #46
Commits aren't the only requests that can fail with an aborted error, it is possible for any request that reads data to fail as well.

[2017-11-28 14:31] callmehiphop commented on #23
As you pointed out @Chipintoza the issue here is with our dependencies. The good news is there is already a plan in motion to phase out one of these dependencies (`common-grpc`). The bad news is that it is a pretty significant change so it will take some time.

[2017-11-28 16:18] Chipintoza commented on #23
@callmehiphop than you. i will always remove package-lock.json :)

[2017-11-29 01:11] greenkeeper[bot] opened #48 "An in-range update of protobufjs is breaking the build 🚨"
## Version **6.8.2** of [protobufjs](https://github.com/dcodeIO/protobuf.js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fprotobufjs-6.8.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      protobufjs
    </td>
  </tr>
  <tr>
    <th al

[2017-11-29 04:40] voltrue2 commented on #46
So is there a reason for a commit to successfully commit and yet the transaction aborts right after that?
This seems to be what is happening to me.

Cheers

[2017-11-29 14:19] callmehiphop commented on #46
No, that sounds like it could be a bug. Would you mind putting together some code that reproduces what you're seeing?

[2017-11-29 23:16] #48 closed

[2017-11-30 03:06] voltrue2 commented on #46
Hello,

Sure thing!

Below is a very simple sample that seems to demonstrate what I have seen.
The number of rows in `items` table and the value of `count` column of `counter` table should match, but they don't.
If you uncomment out the block of code in `_onTask`, it will prevent the multiple calls of the same transactions and it seem to solve the issue (We really lose throughput by doing this tho

[2017-11-30 15:51] greenkeeper[bot] opened #49 "An in-range update of google-auto-auth is breaking the build 🚨"
## Version **0.8.1** of [google-auto-auth](https://github.com/stephenplusplus/google-auto-auth) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fgoogle-auto-auth-0.8.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      google-auto-auth

[2017-11-30 15:52] #49 closed

[2017-12-05 08:43] greenkeeper[bot] opened #51 "An in-range update of prettier is breaking the build 🚨"
## Version **1.9.0** of [prettier](https://github.com/prettier/prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fprettier-1.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left

[2017-12-06 08:32] voltrue2 commented on #46
@callmehiphop

I know this is a closed issue, but is there any update on this?

I have also contacted Google support on this issue and the support said that it seems to be a bug in the client library.

It would be great, if we can move forward with this. Should I reopen this issue?

Cheers!

[2017-12-06 17:23] callmehiphop commented on #46
@voltrue2 sorry, I've been a little sidetracked. So after going through your code, I think what you are seeing is the expected behavior. I think @vkedia can elaborate a bit more, but I'm fairly certain trying to simultaneously update the same field through multiple transactions will cause aborted errors for all but 1 transaction.

You could probably work around this by either queuing transactions

[2017-12-06 18:33] WaldoJeffers opened #55 "Transaction.insert generates unhandled promise rejections"
#### Environment details

  - OS: hmm... Google Cloud Platform?
  - Node.js version: 8.9.x
  - npm version: yarn 1.1
  - @google-cloud/spanner version: 0.8.1

#### Steps to reproduce

  1. Create a read-write transaction
  2. Use transaction.insert, but insert data which do not match the destination table's schema
  3. Run transaction.commit()

This will generate an unhandled promise rejection, wh

[2017-12-06 19:36] callmehiphop commented on #55
@WaldoJeffers I'm sorry to hear you're running into this issue! While other objects that inherit Transaction methods do allow for one to supply a callback, when using an actual Transaction object they are not required (and I believe the client will ignore them).

Looking through your samples, I think the issue is that you're forgetting to specify a table name:

[code]

[2017-12-06 19:44] WaldoJeffers commented on #55
@callmehiphop Thanks for your quick reply. I oversimplified my code 😨 But my actual does use a table name :) I edited my examples

[2017-12-06 19:50] callmehiphop commented on #55
@WaldoJeffers Oh! I just meant that it ignores callbacks for CRUD methods, commit is definitely async.

[2017-12-06 19:53] WaldoJeffers commented on #55
My bad again, I meant to say `transaction.insert()`.

[2017-12-06 20:11] callmehiphop commented on #55
@WaldoJeffers that's a good point, I would expect that to throw an error as well! I'm going to open a PR with a fix shortly.

[2017-12-06 20:12] vkedia commented on #46
If the transaction fails with `ABORTED` then the callback would get invoked again. But I think @voltrue2 is claiming that the callback gets executed again even though the commit succeeded. Why would that happen?
Also why would the count and number of items go out of sync? @voltrue2 is updating them both in the same transaction, so they should never be out of sync unless there is a bug in the clien

[2017-12-06 20:36] callmehiphop commented on #55
@WaldoJeffers I've opened #56, if you have the bandwidth the test the changes and see if your issue is resolved, I would be very grateful!

[2017-12-06 20:53] callmehiphop commented on #46
@vkedia Initially that is how I interpreted this issue as well, however after running the code he was kind enough to provide for us, I believe the issue is that he runs the same transaction in parallel. A simpler example of what is happening looks like this:

[code]

So when that runs the first transaction is successful, but every subsequent transaction needs to be retried - which I believe is the

[2017-12-06 21:00] WaldoJeffers commented on #55
@callmehiphop will do, thanks

[2017-12-06 21:47] WaldoJeffers commented on #55
@callmehiphop This does indeed seem to fix this issue.
To be clear, this is a very important fix. It does a lot more than making `transaction.insert(...).then/catch` now properly throw `Cannot read property then/catch of undefined`. Prior to your fix, insertion errors were caught by `transaction.insert` but not thrown anywhere, resulting in a `Unhandled promise rejection` error.
I recommend mergin

[2017-12-06 22:27] vkedia commented on #46
But that does not explain why are the two tables going out of sync?

[2017-12-06 22:44] vkedia commented on #55
I do not understand how were insertion errors caught by `transaction.insert` previously? `transaction.insert` just buffers mutation in  memory and it does not know whether anything is incorrect. It is only `transaction.commit` that would fail. Can someone please explain what was going on?

[2017-12-06 23:43] callmehiphop commented on #46
@vkedia truthfully I'm not entirely sure why this is happening, but this is what I'm seeing:

1. 10 transactions fire off, each trying to read and then increment a counter.
2. There are no preallocated sessions, so 10 create session requests are sent concurrently
   * The first session is returned from the server within 70ms
   * The second session is returned from the server within 250ms
   * All

[2017-12-06 23:49] callmehiphop commented on #55
@vkedia I think @stephenplusplus will have a better idea why we do it, but when we buffer the mutation if there's a mismatched number of columns [we throw an error](https://github.com/googleapis/nodejs-spanner/blob/master/src/transaction-request.js#L754).

So I assume if you give bad data that contains a non-existing column, a mistmatch error would occur and then the promise would swallow it.

[2017-12-06 23:57] stephenplusplus commented on #55
That comes from https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2426#issuecomment-312392124. Since it's a thrown error, you would wrap it in a `try {} catch(e) {}` if you were uncertain about the data being fed to the mutation method.

[2017-12-07 00:04] WaldoJeffers commented on #55
To be more specific, the error thrown looks like this:
`Column not found in table TABLE_NAME: UNKNOWN_COLUMN`.

[2017-12-07 00:16] vkedia commented on #46
Interesting. There are couple of things fishy here.
In step 5 server should be returning `3` for each request and not `2`. In step 7 all transactions should not commit successfully. This leads me to believe that there is some bug around sending transaction ids. Maybe when we retry the transaction, for reads we end up not sending the correct transaction id or we ask it use an implicit transaction o

[2017-12-07 00:18] vkedia commented on #55
@stephenplusplus @callmehiphop that makes sense.
But the error message given by @WaldoJeffers looks different. This is thrown by the server and would be thrown on commit.

[2017-12-07 00:25] stephenplusplus commented on #55
For the immediate future, we should release #56, as that is an unquestionable fix brought up during this bug report.

@WaldoJeffers, thanks for helping us out. Would you mind throwing together a clone-and-runnable snippet, so we can get a wider context of where this problem is introducing itself? Please base it off of #56 (`npm install callmehiphop/nodejs-spanner#dg--55` to make that easier).

[2017-12-07 00:37] vkedia commented on #55
I agree releasing #56 is non controversial.

[2017-12-07 00:41] WaldoJeffers commented on #55
Ok, I think I might have a better reproducible case here. Some information I reported earlier were erreneous/incomplete, apologies.
Trying to insert into a **non-existing** column with a **defined** value works, both with & without @callmehiphop 's fix. The server correctly returns `Column not found in table TABLE_NAME: UNKNOWN_COLUMN` and there is **no** `Unhandled promise rejection` notice.
[cod

[2017-12-07 00:45] vkedia commented on #55
Thanks. I think this explains why the error was being thrown by `insert` and not `commit`.

[2017-12-07 01:53] callmehiphop commented on #46
@vkedia so I've been looking into this and it appears that the client is generating a new transaction id after an aborted error.

The raw request looks like this (I stringified the txn id for readability).

[code]

Is there anything that appears out of place to you? I've compared it to the proto file and I believe this is the correct format.

[2017-12-07 02:13] vkedia commented on #46
This looks ok. Can you also see what was the transactionId used in the query request made in this transaction. That should be the same as here. For each transaction and each retry we need to make sure that same transaction id is used for the query and the commit. And that transaction id should be different from all other transactions.
Generating new transaction id for each retry is the correct beh

[2017-12-07 03:24] callmehiphop commented on #46
@vkedia @voltrue2 so after some more investigating, I just realized there was an error with the reproduction code that prevented it from re-querying the counter (😢). If I refactor the `runTasks` function to the following

[code]

Everything works as expected and the counter ends up getting set to 10, meaning the tables do not fall out of sync.

[2017-12-07 03:24] #46 closed

[2017-12-07 13:08] #55 closed

[2017-12-07 17:39] vkedia commented on #46
Makes sense. Thanks for getting to the bottom of this.

On Wed, Dec 6, 2017 at 7:24 PM, Dave Gramlich <notifications@github.com>
wrote:

[2017-12-07 20:42] #13 closed

[2017-12-07 20:42] #19 closed

[2017-12-07 20:42] #25 closed

[2017-12-07 22:43] WaldoJeffers opened #59 "date, float and int static methods not documented"
#### Environment details

  - OS: GCP
  - Node.js version: 8.9.x
  - npm version: 5.5
  - @google-cloud/spanner version: 0.8.2

#### Steps to reproduce
[According to the docs](https://cloud.google.com/nodejs/docs/reference/spanner/0.8.x/Spanner#date), the `date`, `float` and `int` helper functions only seem to be available on `Spanner` class instances. This can be frustrating if you are creating y

[2017-12-07 23:59] callmehiphop commented on #26
@jfeigel I've just published a new release (`0.9.0`) that turns database objects into event emitters, you should be able to do the following now.

[code]

Going to close this now, thanks for the help!

[2017-12-07 23:59] #26 closed

[2017-12-08 00:01] callmehiphop commented on #59
@stephenplusplus part of me thinks maybe we should just dump the instanced versions of these, wdyt?

[2017-12-08 00:07] vkedia commented on #59
I agree we should just dump the instance methods. I can't think of a reason why anyone would use them instead of static methods.

[2017-12-08 00:12] stephenplusplus commented on #59
The reason they're there is because the easiest way to get up and going with the library is with a single statement:

[code]

I put the type methods on the instance because, otherwise, the user would have to change "the easiest way to get up and going", and split out the require statement from the instance-creation one.

I think both have their place, and since we already have them, I would vote w

[2017-12-08 00:28] callmehiphop commented on #59
Ah, right. Is there something we can do get the docs to show up for them in the current state then (@alias maybe)? Or do we need to declare those docs separately?

[2017-12-08 00:28] stephenplusplus commented on #59
cc @jmdobry !

[2017-12-08 00:33] vkedia commented on #59
I think there is a benefit to removing the instance methods. We should not encourage people creating a spanner object just to access these methods. Creating a spanner object is expensive since, as far as I can tell, it involves setting up grpc connection.
I would say in anything but toy applications users should be using the static methods, unless they pass around a single instance of spanner obje

[2017-12-08 00:36] stephenplusplus commented on #59
Not sure on this-- @callmehiphop ?

I don't think we need to know anything about their application structure to say that having the instance methods would be a convenience to them. It's perfectly plausible to me that they would need to create an `Int` type from the same place they call `insert`.

[2017-12-08 00:39] vkedia commented on #59
But at the place they call `insert`, they need not have access to the spanner object. Really `spanner` object is useful to only get a `database` object out of it and then there is no need to keep it around.

[2017-12-08 00:40] callmehiphop commented on #59
I don't believe that's true, I think we lazily instantiate grpc clients, so unless they're actually making requests it should be ok.

@stephenplusplus not sure if it matters, but I assume eventually people will shift towards `import` instead of `require` which would prohibit users from instantiating in this way (I think).

[2017-12-08 00:44] jmdobry commented on #59
Those methods are currently both instance methods and static methods, but only properly documented as instance methods. #60 properly documents them as both

[2017-12-08 00:46] jmdobry commented on #59
It's not the switch to `import` that will do it, but the switch to ES2015 classes. Once we have

[code]

then we get

[code]

[2017-12-08 00:49] vkedia commented on #59
Will this not create a grpc channel:
https://github.com/googleapis/nodejs-spanner/blob/master/src/index.js#L210

[2017-12-08 01:00] voltrue2 commented on #46
@callmehiphop Thank you for looking into it!

[2017-12-08 16:26] Chipintoza opened #61 "process hangs"
OS: Mac OSX 10.13.1
Node.js version: 8.9.1
npm version: 5.6.0
version: 0.9.0

test.js
[code]

if you run:

process hangs

[2017-12-08 17:02] callmehiphop commented on #61
@Chipintoza we made some big changes under the hood for 0.9.0, so now when you're done with a `database` object you'll need to call `close` or else it will hang until all the sessions die.

[2017-12-08 17:07] callmehiphop commented on #61
I'm going to close this, but if closing the database doesn't resolve your issue let me know and I'll re-open and investigate.

[2017-12-08 18:43] vkedia commented on #61
I am not sure this is ideal. Why should the process hang? I agree that not calling `database.close` is bad since it will cause sessions to leak but penalty for that should not be hung process.

[2017-12-08 18:46] callmehiphop commented on #61
@vkedia `setInterval`/`setTimeout` cause node processes to stay open, this is what we are using to perform keep alives.

[2017-12-08 19:03] vkedia commented on #61
I see. Is there some way to be notified that the process is trying to shutdown and then cancel the Timers in that notification?

[2017-12-08 19:05] vkedia commented on #61
Would this work:
https://nodejs.org/en/docs/guides/timers-in-node/#leaving-timeouts-behind

[2017-12-08 19:24] callmehiphop commented on #61
Actually yes! I'll add that in right now.

[2017-12-08 19:39] vkedia commented on #61
Thanks!

[2017-12-09 02:37] greenkeeper[bot] opened #63 "An in-range update of eslint is breaking the build 🚨"
## Version **4.13.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Feslint-4.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-12-09 08:20] Chipintoza commented on #61
@callmehiphop thank you

[2017-12-09 13:14] #63 closed

[2017-12-11 15:10] stephenplusplus commented on #59
Since it sounds like the instance methods won't be as beneficial when users are forced to localize a `Spanner` variable, I'm neutral about when we choose to get rid of them.

[2017-12-11 15:36] #61 closed

[2017-12-11 15:36] stephenplusplus opened #64 "Flaky AppVeyor test"
https://ci.appveyor.com/project/googleapis/nodejs-spanner/build/1.0.178

[code]

[2017-12-11 17:24] #51 closed

[2017-12-11 17:39] vkedia commented on #59
My question on this is still unanswered:
Does create a spanner object create a new channel?

Also given that there is no clear benefit of having these methods, I strongly feel we should remove them now. We have to do this before GA in any case since it is a breaking change.

[2017-12-11 17:43] callmehiphop commented on #59
@vkedia sorry, I'm a little fuzzy about the internals of gRPC but we do not instantiate a grpc client until the first time we make an actual request. The code you were referencing (`GrpcService`) is a custom abstraction layer we wrote.

[2017-12-11 17:55] stephenplusplus opened #65 "Remove custom type instance methods"
https://github.com/googleapis/nodejs-spanner/issues/59#issuecomment-350133183

[2017-12-11 17:55] stephenplusplus commented on #59
https://github.com/googleapis/nodejs-spanner/issues/65

[2017-12-11 17:55] #59 closed

[2017-12-11 18:22] vkedia commented on #59
@callmehiphop That is good to know. But we might want to change that behavior in future to make sure that initial few requests that users make do not block for channels to be established. Anyways let us discuss on the new issue.

[2017-12-11 23:22] #65 closed

[2017-12-12 02:05] vkedia commented on #65
Thanks!

On Mon, Dec 11, 2017 at 3:22 PM, Stephen <notifications@github.com> wrote:

[2017-12-12 04:00] greenkeeper[bot] opened #67 "An in-range update of eslint is breaking the build 🚨"
## Version **4.13.1** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Feslint-4.13.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-12-12 04:30] greenkeeper[bot] opened #68 "An in-range update of prettier is breaking the build 🚨"
## Version **1.9.2** of [prettier](https://github.com/prettier/prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fprettier-1.9.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left

[2017-12-12 18:34] #67 closed

[2017-12-12 18:35] greenkeeper[bot] opened #69 "An in-range update of @google-cloud/common-grpc is breaking the build 🚨"
## Version **0.5.1** of [@google-cloud/common-grpc](https://github.com/googlecloudplatform/google-cloud-node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2F%40google-cloud%2Fcommon-grpc-0.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2017-12-12 18:35] #68 closed

[2017-12-12 18:35] #69 closed

[2017-12-14 05:58] Chipintoza opened #70 "no matching version found for @google-cloud/spanner@0.9.1"
OS: Mac OSX 10.13.1
Node.js version: 8.9.1
npm version: 5.6.0
version: 0.9.0

0.9.1 is not published on npm

[2017-12-14 20:07] #64 closed

[2017-12-15 18:28] vkedia commented on #18
@lukesneeringer @callmehiphop @stephenplusplus
Could this now be worked up since we have our own session pool implementation so should be easier to do?

[2017-12-15 18:46] callmehiphop commented on #18
@vkedia yep, I think I can squeeze this in today or else next week

[2017-12-18 15:03] callmehiphop commented on #70
@Chipintoza we've been having some CI troubles, which is supposed to publish the releases for us. I've just manually published 0.10.0 if you want to try upgrading to that.

[2017-12-18 15:03] #70 closed

[2017-12-18 17:54] Chipintoza commented on #70
@callmehiphop thanks

[2017-12-18 21:49] #18 closed

[2017-12-19 15:51] bricktownseo opened #76 "Error querying Spanner: Error: Stream removed"
#### Environment details

  - OS: Cloud Function
  - @google-cloud/spanner version: 0.10.0

#### Steps to reproduce

  1. Downloaded the example spanner cloud function code
  2. Modify the package.json to use version 0.10.0 of spanner
  3. Deploy to cloud function and test
  4. After >5 minutes at idle, running the cloud function on the first request causes the "Error: Stream removed" to fire. All

[2017-12-19 17:02] bricktownseo commented on #76
This issue also happened with version 0.9 as well.

[2017-12-22 18:28] PacciniBruno opened #78 "SessionPool acquireQueue concurrency limit causes sessions to pile up under load"
#### Environment details

  - OS: MacOS
  - Node.js version: 9.2.0
  - @google-cloud/spanner version: 0.10.0

#### Steps to reproduce

1. Run a simple load test at a rate that fills up the pool of available sessions (40 req/s was enough for me, with current session pool settings)
2. After a little while you'll start to see requests taking a disproportionate amount of time (dozens of seconds) to re

[2018-01-02 17:28] stephenplusplus commented on #76
The issue is with 1.8.x of grpc. Until it is resolved, we are in the process of locking it down to 1.7.x.

(Duplicate: https://github.com/googleapis/nodejs-datastore/issues/35) I'm going to close and lock, just to keep any additional reports/comments on a single issue. I'll tag your name in the other issue so you're subscribed and can track the progress.

[2018-01-02 17:28] #76 closed

[2018-01-02 19:56] vkedia commented on #78
@PacciniBruno  Thanks for the detailed analysis.
@callmehiphop Ideally this is the kind of thing the benchmark would catch. Why did we not run into this while running the benchmark in #54 ? Also we should run that benchmark with and without your fix to see how much it changes the performance.

[2018-01-02 21:43] callmehiphop commented on #78
@vkedia truthfully I wasn't sure what kind of metrics I should be looking for from the benchmark. But yeah, I think testing against that is a great idea!

[2018-01-03 10:45] WaldoJeffers opened #80 "RowBuilder.toJSON should return un-wrapped Floats and Ints"
#### Environment details

  - OS: MacOS
  - Node.js version: 9.2.0
  - npm version: 5.6.0
  - @google-cloud/spanner version: 0.10.0

#### Steps to reproduce

  1. Make a query which returns rows containing numeric values
  2. Run `rows.map(row => row.toJSON())`
  3. The results should look something like that (field names do not matter, this is just an example):

[code]
As you can see, the `toJSON

[2018-01-03 16:05] stephenplusplus commented on #80
Numbers stored in Spanner can go outside the boundaries of what a JavaScript Number can hold. To support this, we use custom types [Spanner.int](https://cloud.google.com/nodejs/docs/reference/spanner/0.10.x/Spanner#.int) and [Spanner.float](https://cloud.google.com/nodejs/docs/reference/spanner/0.10.x/Spanner#.float).

You can see how values are treated here: https://github.com/googleapis/nodejs-s

[2018-01-03 16:50] WaldoJeffers commented on #80
Thanks for your quick answer @stephenplusplus . But is this the way you want toJSON to work? I mean, it's not what you expect from a toJSON method. I'd rather expect this:
[code]

In my team, we had to implement our custom toJSON method to deal with this. Is it intended?

[2018-01-03 17:32] WaldoJeffers commented on #80
To be more specific, the `valueOf` methods on `Int` and `Float` do *not* get called when `toJSON` is called. The `toString` method is called instead, and returns a JSON serialization, which looks like:
[code]

[2018-01-03 17:37] stephenplusplus commented on #80
Unfortunately, yes. If we only return a string, the JS Number characteristics are lost:

[code]

We could rename the method to "row.toObject()" if using the name "toJSON()" is misleading. Although, the value types we return from the method is compliant with this interpretation/definition of how a `toJSON()` method is to be defined: https://derickbailey.com/2015/10/26/dont-return-a-json-document-fr

[2018-01-03 17:55] WaldoJeffers commented on #80
I understand, thanks again for your detailed explanation @stephenplusplus.

In my opinion (and I completely understand if you and your team have a different view on this), the (vast) majority of users will handle numeric values which are not out bounds, and will have to use to write a custom toJSON implementation. If you are expecting out of bounds values from your DB, you know you'll need to take

[2018-01-03 18:49] greenkeeper[bot] opened #81 "An in-range update of google-gax is breaking the build 🚨"
## Version **0.14.3** of [google-gax](https://github.com/googleapis/gax-nodejs) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fgoogle-gax-0.14.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      google-gax
    </td>
  </tr>
  <tr>
    <t

[2018-01-03 18:52] #81 closed

[2018-01-04 00:02] vkedia commented on #80
I think @WaldoJeffers has raised a valid concern. Can we discuss what are the options here and if we can somehow make things easier for users.

[2018-01-04 00:08] stephenplusplus commented on #80
toJSON taking an option to treat all numbers as JS Numbers seems brilliant. I would suggest we default to that behavior, and the option would disable it and return the custom type.

[2018-01-04 00:15] vkedia commented on #80
Why not add a different method for this purpose (which behaves the same as current toJson) and change toJson to treat numbers as JS numbers? That seems clearer to me than adding an option.

As an aside, we should also document clearly how does toJson handle missing field names and duplicate field names.

[2018-01-04 00:25] stephenplusplus commented on #80
That seems like a matter of preference; I’m not sure I have a strong enough reason for either way. Take it to a vote? Unless there’s a clear reason a separate method is better.

[2018-01-04 00:40] alexander-fenster commented on #80
Can we try to make it easy to use for the majority of users (those who never meets large integers), but still leave the possibility to deal with large integers (e.g. via the apiResponse).

[2018-01-04 14:59] stephenplusplus commented on #80
`row.toJSON({ wrapNumbers: true })` (better names welcome) or a new method, name TBD (ideas @vkedia?), would be much easier for the users than trying to parse through the API response. As long as `toJSON()` without any arguments returns JS Numbers, and not our custom type, the majority of users will be in for a better experience.

[2018-01-04 15:34] WaldoJeffers commented on #80
Couldn't agree more @stephenplusplus 😄 Maybe `wrapNumbers` could also accept a function? It could save users handing out of bounds numbers the trouble of rewriting the entire `toJSON` serialization just to handle large numbers with a custom helper function.
But maybe this would add too much complexity.

Regarding names, a few suggestions if you need them:
- protectNumbers
- stringifyNumbers (if al

[2018-01-04 15:37] stephenplusplus commented on #80
[code]

That SGTM. @callmehiphop ?

[2018-01-04 17:53] vkedia commented on #80
Yeah I think taking an option is fine. It also allows us to take more options if needed in future. For eg currently if there are multiple fields with the same name, we just pick the last one. In future we can take an option to instead return a list.
To be clear the default for `stringifyNumbers` would be `true` which means we would return JS numbers and not spanner.Int. Is that correct?

[2018-01-04 18:04] vkedia commented on #27
@jgeewax @stephenplusplus @alexander-fenster This issue should also be closed before marking the library as GA since this will cause a really big breaking change if we do decide to address this.
Current situation is that users can always call `toJson` to get a nice JS object. They will not need to write any helper snippet for this. What is the concern with that? It is also worth noticing that in t

[2018-01-04 18:16] stephenplusplus commented on #80
`stringifyNumbers: true` would return a string for all numbers. By default, it would be false, so that we return `8` instead of `"8"`. We wouldn't return the custom type from `toJSON()` at all.

[code]

We could go back to something like `wrapNumbers` which would default to false. If enabled, it would return the `spanner.int`:

[code]

[2018-01-04 18:33] vkedia commented on #80
I see and if `stringifyNumbers` is false and the number is oversized what would happen?

[2018-01-04 18:37] stephenplusplus commented on #80
The number would simply be incorrect:

[code]

[2018-01-04 18:44] vkedia commented on #80
That sounds dangerous. Why can be not throw an error in this case?

[2018-01-04 18:48] stephenplusplus commented on #80
We could throw an error during the `toJSON()` call:

[code]

I don't think we would want to show the `try/catch` behavior in our documentation, for example. A user would only want to do that if they're concerned a row may have an out of bounds integer.

[2018-01-04 19:04] WaldoJeffers commented on #80
Throwing an error sounds like a good idea. Otherwise, it could lead to bugs which would be very hard to detect. If you choose not show this example in the docs (sounds reasonable), I think it could be interesting to at least mention that  `toJSON` can throw (and why).

[2018-01-04 21:04] alexander-fenster commented on #80
So let me clarify here that when we are discussing things like 'to throw or not to throw', we are talking about something that will affect 1% of users or less, those who meet the large integers. Let's state some points:

- We don't want 99% of users to do any extra work with their numbers
- Returning spanner.int is better than returning just a string because it kind of gives a little bit more info

[2018-01-04 21:07] alexander-fenster commented on #80
@lukesneeringer could also comment if he wants :)

[2018-01-04 21:09] vkedia commented on #80
Sounds reasonable to me. Would we treat Floats in a similar way? For floats the reason we created a separate type was because spanner float can also contain these special values "+Infinity", "-Infinity", "NaN" while as I understand JS numbers cannot.

[2018-01-04 21:18] alexander-fenster commented on #80
@stephenplusplus / @callmehiphop correct me if I'm wrong, but my understanding is that JavaScript Number is IEEE 754 compliant, hence could be plus or minus infinity or NaN:

[code]

[2018-01-04 21:27] vkedia commented on #80
I see. In that case why do we have a separate spanner.Float type?

[2018-01-05 12:46] merlinnot opened #82 "Typescript support"
It would be really nice to have type definitions.

[2018-01-05 12:52] merlinnot opened #83 "Errors in Google Cloud Functions' Emulator"
I'm getting

It seems like the project name is not derived correctly.

#### Environment details

  - OS: Linux merlinnot 4.13.0-21-generic #24-Ubuntu SMP Mon Dec 18 17:29:16 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
  - Node.js version: v6.11.5
  - npm version: v3.10.10
  - @google-cloud/spanner version: ^0.10.0

#### Steps to reproduce

  1. Write any, even the simplest cloud function
  2. Start Fi

[2018-01-05 15:42] stephenplusplus commented on #80
@alexander-fenster that all sounds good to me.

RE: the Float type, we do have that for parity with `Int`, but also because if the user provides us a value of `8.0`, and it is meant to be saved as a FLOAT64, there is no type detection we could do that will tell us they meant to use `8` as a float, outside of making them wrap it in a `Float` type. Here's how we tell between INT64 and FLOAT64: https

[2018-01-05 16:00] WaldoJeffers commented on #80
@alexander-fenster sounds good 👍
Having a way to tell how numbers should be stored (in Spanner) makes sense, but I am unsure as to whether it makes sense when converting back to JS, since JS does not distinguish floats from ints.

[2018-01-05 18:17] callmehiphop commented on #82
@lukesneeringer do you have any idea where we stand on Typescript? I know it was something being discussed before.

[2018-01-05 18:24] callmehiphop commented on #80
I'm a little late to the party, but in other APIs that have similar issues I've seen the presence of both strings and numbers like so

[code]

[2018-01-05 18:44] vkedia commented on #80
@stephenplusplus Ok, I understand why we need a spanner.Float. But I agree with @WaldoJeffers that when converting to JSON we should just emit it as a number.

[2018-01-05 20:27] stephenplusplus commented on #80
PR in progress: #84.

[2018-01-06 16:36] greenkeeper[bot] opened #85 "An in-range update of modelo is breaking the build 🚨"
## Version **4.2.1** of [modelo](https://github.com/kevinconway/Modelo.js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fmodelo-4.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      modelo
    </td>
  </tr>
  <tr>
    <th align=left>

[2018-01-06 18:11] #85 closed

[2018-01-09 18:26] stephenplusplus commented on #83
If you provide the project ID to the Spanner instantiation, does it work correctly?

[2018-01-09 22:53] #80 closed

[2018-01-09 23:11] WaldoJeffers commented on #27
@vkedia If I may add my 2 cents, this is not a huge pain, but in my team, we are only interested in the JSON response, and have to write the `toJSON` line in every service we have. This is not much, but it'd be even better if we didn't have to do so. I understand that there can be missing names or name collisions, but I think the only viable solution is to update your SQL queries and use aliases a

[2018-01-09 23:33] vkedia commented on #27
@WaldoJeffers thanks. Another option can be to take some option like `returnAsJson` in the read/query API which return json objects instead of row objects.

[2018-01-10 00:22] danoscarmike commented on #78
@callmehiphop what's the next action here?  Can we merge #79 ?

[2018-01-10 01:20] callmehiphop commented on #78
@danoscarmike yes, it should be safe to merge.

[2018-01-10 02:07] #78 closed

[2018-01-11 17:40] stephenplusplus commented on #82
I'm going to close this in favor of the API-wide discussion: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/952

[2018-01-11 17:40] #82 closed

[2018-01-12 08:08] merlinnot commented on #83
I've tried both
[code]
and
[code]

Neither worked for me.

[2018-01-12 19:34] stephenplusplus commented on #83
I wonder if this relates to https://github.com/googleapis/nodejs-pubsub/issues/38

To test, you could try instantiating spanner differently:

[code]

[2018-01-12 21:31] alexander-fenster commented on #27
As discussed: we'll take the option approach, and the default value will be to leave the value as is. When the option is enabled, it will apply `toJSON` automatically. It will be releases as a semver minor version.

[2018-01-13 18:23] WaldoJeffers commented on #27
Great news!

[2018-01-15 15:57] zubeyiro opened #89 "db.close() function does not kill sessions"
#### Environment details

  - OS: MacOS, Linux etc
  - Node.js version: 8.9.3
  - npm version: 5.6.0
  - @google-cloud/spanner version: 0.9.0

#### Steps to reproduce

  1. I have created a REST endpoint and made a read call then I have closed the connection with db.close(), I have called that endpoint couple of times
  2. I have listed all sessions with command 'gcloud spanner databases sessions

[2018-01-15 17:21] kriptontr commented on #89
my experinces with this is issue :
i added some console output to  session-pool.js:488;
[code]
which prints
[code]
value of self.reads_.length doesn rise at all. but when i scope active sessions with
`gcloud spanner databases sessions list`
and count with sth like
` var count = (stdout.match(/---/g) || []).length;`
it rises continuously until it throws
`Too many active sessions in database, limit

[2018-01-16 14:09] callmehiphop commented on #89
@zubeyiro I'm sorry you're running into this issue. If you don't mind could you put together some code to reproduce the issue you are describing? I made a very simple test case, however in my testing it seems like `database.close()` is deleting all of the sessions it creates.

@kriptontr Is it possible you're re-using the same database in multiple processes? Sessions aren't shared across processes

[2018-01-16 14:24] zubeyiro commented on #89
Well after we had a look at it with @kriptontr (he is also my colleague) we have noticed something different and sent a pull request about that. At NodeJS library, there is a problem with session handling, which causes @google-cloud/spanner to create new session for every single call. It wasnt about database.close() actually.

[2018-01-16 14:32] callmehiphop commented on #89
@zubeyiro I see. Would it be possible to create a gist of that scenario then?

[2018-01-16 14:34] kriptontr commented on #89
@callmehiphop  nope. there is a leak in session pool.Please take a look at this [commit](https://github.com/googleapis/nodejs-spanner/pull/90/files)
1 - shift method removes session from array and resolves promise with this session right ?
2- Then getSession_ returns this session to acquireSession_  , but at session-pool.js:398  it  runs self.borrowSession_(session) at callback:
3- borrowSession r

[2018-01-16 14:39] zubeyiro commented on #89
Yeah sure, I'm declaring Spanner and database instance as below, out of listener scope;

`const Spanner = require('./nodeSpanner');

global.db = {
    live: Spanner({
            projectId: 'project'
        })
        .instance('cs-instance')
        .database('db')
};`

then I'm making a read request in one of my get/post listeners;

`global.db.live
            .run({
                sql: "selec

[2018-01-16 14:41] callmehiphop commented on #89
@kriptontr oh! I see now, thanks for clarifying

[2018-01-16 14:42] zubeyiro commented on #89
Well quick fix would be great :) Because we are now using our fixed version and dont wanna miss any update

[2018-01-16 15:21] greenkeeper[bot] opened #92 "An in-range update of uuid is breaking the build 🚨"
## Version **3.2.0** of [uuid](https://github.com/kelektiv/node-uuid) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fuuid-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uuid
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-01-16 15:27] #89 closed

[2018-01-16 15:36] #92 closed

[2018-01-16 16:27] stephenplusplus commented on #27
PR sent in #94 -- please check it out!

[2018-01-16 17:53] hugoluchessi opened #95 "RowBuilder.formatValue breaks if an array field has NULL_VALUE"
When selecting an Array type field with null value `RowBuilder.formatValue` breaks on line 64 throwing the exception:
[code]
The code:
[code]

The workaround I'm using locally is:

[code]

This way, the field serializes as `'field_name': null` which I think is the expected behavior.

#### Environment details

  - OS: Linux 14.04.1-Ubuntu
  - Node.js version: v8.9.4
  - npm version: 5.6.0
  - @goog

[2018-01-16 18:19] greenkeeper[bot] opened #96 "An in-range update of uuid is breaking the build 🚨"
## Version **3.2.1** of [uuid](https://github.com/kelektiv/node-uuid) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fuuid-3.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uuid
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-01-16 20:37] callmehiphop commented on #95
@hugoluchessi thanks for the detailed write up! Any interest with submitting a PR with your fix?

[2018-01-16 21:06] hugoluchessi commented on #95
Can I? Sure, I'll do it tonight.

[2018-01-16 21:17] callmehiphop commented on #95
@hugoluchessi awesome! 😄

[2018-01-16 22:37] #96 closed

[2018-01-17 01:30] hugoluchessi commented on #95
Done @callmehiphop, would you please review the pr?

[2018-01-17 16:45] merlinnot commented on #83
Unfortunately, it doesn't help.

[2018-01-17 19:39] #95 closed

[2018-01-19 13:43] haseebr commented on #83
I'm having the same error but with cloud KMS.

`{ Error: Google Cloud Key Management Service (KMS) API has not been used in project firebase-cli before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/cloudkms.googleapis.com/overview?project=firebase-cli then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our system

[2018-01-20 04:44] greenkeeper[bot] opened #100 "An in-range update of eslint is breaking the build 🚨"
## Version **4.16.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Feslint-4.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2018-01-20 15:09] #100 closed

[2018-01-31 10:54] kriptontr opened #103 "Getting Unable to release unknown session errors"
Hello,

We are using cloud spanner library on our REST endpoint and we do create only one DB instance. When more than 10 users start to make requests to that endpoint it suddenly starts to throw an exception 'Unable to release unknown session.'. I don't know what causes this but is this about something we need to change or is this about something with the library? Do we have to create new instance

[2018-01-31 16:07] greenkeeper[bot] opened #104 "An in-range update of google-auto-auth is breaking the build 🚨"
## Version **0.9.2** of [google-auto-auth](https://github.com/stephenplusplus/google-auto-auth) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fgoogle-auto-auth-0.9.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      google-auto-auth

[2018-01-31 17:10] #104 closed

[2018-01-31 18:05] greenkeeper[bot] opened #105 "An in-range update of google-gax is breaking the build 🚨"
## Version **0.14.4** of [google-gax](https://github.com/googleapis/gax-nodejs) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fgoogle-gax-0.14.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      google-gax
    </td>
  </tr>
  <tr>
    <t

[2018-01-31 18:06] #105 closed

[2018-01-31 18:55] callmehiphop commented on #103
@kriptontr thanks for reporting! Could you share your pooling configurations, if any.

Based on the error stack, I'm assuming the endpoint being described creates `read-only` transactions that you call `end()` on and never `commt()`?

[2018-01-31 19:20] kriptontr commented on #103
Hello,

There is no pooling configuration actually, probably using [default](https://github.com/googleapis/nodejs-spanner/blob/master/src/session-pool.js#L30),  how can we have one, should we? I didn't notice any on docs.

Its not read-only, we also have write operations and transactions, and lib throws error on transaction.commit() event
Or should we call end() after commit() ?

[2018-01-31 20:14] callmehiphop commented on #103
@kriptontr really its up to you, configurations are useful if you want to pre-initialize a lot of sessions and have transactions waiting and ready to go. The documentation can be found [here](https://cloud.google.com/nodejs/docs/reference/spanner/1.0.x/SessionPoolOptions) and passed into the database method like so

[code]

As far as `end` vs. `commit`,

* `end()` should only be called when you ar

[2018-01-31 20:20] zubeyiro commented on #103
Thanks, what if we set for example concurrency to 10.000, is that a problem? Or for example if we set it to 100, will it create a new session for 101th request?

[2018-01-31 20:30] vkedia commented on #103
@callmehiphop I think calling both methods should throw some other meaningful error.

[2018-01-31 20:41] callmehiphop commented on #103
@zubeyiro Depends on your application! Setting it too low could create a bottleneck of sorts. I think by default we set it to 10.

Initially we create `n` of sessions where `n` is defined by the `min` option, which is `0` by default. We attempt to re-use sessions as much as possible, the only time we'll create a new session is when all pre-existing sessions are allocated and we haven't hit the `ma

[2018-01-31 20:45] zubeyiro commented on #103
Oh got it. So do I have to instantiate new database instances for every 100 sessions? If so, what happens if I set to max count to 10.000 (which is per spanner node session limit), will it work?

If it works that way, I guess I need create multiple REST endpoints (cluster docker images) for every 100 sessions

[2018-01-31 20:49] callmehiphop commented on #103
@zubeyiro you can increase the `max` value to a number of your choosing, no need to make multiple `Database` instances.

[2018-01-31 20:50] zubeyiro commented on #103
Perfect, thanks a lot

[2018-01-31 20:54] callmehiphop commented on #103
@zubeyiro glad to have helped! I think we went off on a bit of a tangent, but does any of the dialogue here help resolve your original issue?

[2018-01-31 20:57] zubeyiro commented on #103
Well actually it didnt yet, but I suspect min session allocation parameter could help on that, we are going to try it in couple of hours on our stress test and let you know if it reoccurs. It does not happen in normal conditions, it happens only when we send heavy traffic to endpoint

[2018-01-31 20:59] callmehiphop commented on #103
Truthfully, I don't think adjusting the `min` value is going to help you there. If by chance you're calling both `commit` and `end` on a single transaction, refactoring your code to do one or the other would be the correct fix. If that is not the case, then I'll need to investigate further.

[2018-01-31 21:01] zubeyiro commented on #103
We dont have any read-only transaction, only read-write transactions which end up with .commit(), in this case I guess there should be another investigation yes.

[2018-01-31 23:11] callmehiphop commented on #103
@zubeyiro I've just published a patch release that includes some additional error handling. If you don't mind updating and letting us know how the stress tests go, that would be greatly appreciated!

[2018-02-01 22:22] vkedia commented on #103
@callmehiphop since we have discovered couple of issues with this session pool recently, I think we should do some stress testing of this code under heavy concurrent use.

[2018-02-02 09:55] zubeyiro commented on #103
@callmehiphop we have just made a stress test, the first error has gone, 'Unable to release unknown session'

But there are couple of things for .Net library and Cloud Spanner itself;
**1.** At .Net library for Cloud Spanner, we are using too many transactions concurrently, at our stress test we have detected transactions start to throw an error

`An invalid argument was sent to Spanner.`
`Row []

[2018-02-02 19:25] callmehiphop commented on #103
@zubeyiro I can't speak for the .Net library, I would suggest opening an issue on their repo to get to the bottom of that error.

For the session limit, are freeing up your sessions at the end your process? In Node it would look something like this

[code]

[2018-02-02 19:25] #103 closed

[2018-02-03 04:36] armenr commented on #83
^^ Same problem as @haseebr

[2018-02-04 04:14] greenkeeper[bot] opened #109 "An in-range update of lodash.merge is breaking the build 🚨"
## Version **4.6.1** of [lodash.merge](https://github.com/lodash/lodash) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Flodash.merge-4.6.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lodash.merge
    </td>
  </tr>
  <tr>
    <th al

[2018-02-04 15:36] #109 closed

[2018-02-05 18:56] stephenplusplus commented on #83
I'm having trouble getting an environment configured to attempt to reproduce. @merlinnot sorry, but would you mind trying this again in 1.0.3?:

[code]

We should be localizing that `projectId` value, and not asking the environment for its own (which is where `firebase-cli` would come in.

[2018-02-06 20:21] #27 closed

[2018-02-08 02:19] walshie4 opened #116 "Insert over max mutations per commit hangs"
#### Environment details

  - OS: Google Container optimized OS
  - Node.js version: v8.9.4
  - npm version: v5.6.0
  - @google-cloud/spanner version: v1.0.3

#### Steps to reproduce

  1. Setup brand new spanner instance
  2. Add table schema
  3. Do large insert which is over 20,000 mutations
  4. Call does not return (resolved or rejected promise or anything else for that matter) or throw an er

[2018-02-09 10:07] voltrue2 opened #117 "How do I re-use the database connection pool that I already closed?"
Hello,

I have an issue with the following operation, and I cannot seem to find anything related to this issue on online documentation anywhere.
Would you guys mind pointing me to the right direction?

#### Environment details

  - OS: Mac OS high sierra
  - Node.js version: v7.9.0
  - npm version: v4.2.0
  - @google-cloud/spanner version: v0.8.1

#### Steps to reproduce

  1. Execute a select que

[2018-02-09 17:00] merlinnot commented on #83
The error is still the same.

You can just take any [sample](https://github.com/firebase/functions-samples) function and try to do literally anything with Spanner using [shell](https://firebase.google.com/docs/functions/local-emulator#install_and_configure_the_cloud_functions_shell) to reproduce :)

I guess something takes priority here, but it's not an env variable... I've literally checked all e

[2018-02-09 18:17] ma-nasi opened #118 "Cloud Spanner throw Auth error:Error: read ECONNRESET intermittently"
I have a cloud function deployed on GCP which is triggered by Cloud Pub/Sub topic. It connects to cloud spanner to insert the pub/sub event data. It is a high volume pub/sub topic and make simultaneous insert requests in different cloud spanner table. However, it keep giving below errors intermittently. Application Default Credentials are used to do authentication of Cloud Spanner.

ERROR: { Error

[2018-02-09 18:30] stephenplusplus commented on #118
It sounds like you might need to write some retry logic around the code that's causing problems. But to be sure there's not anything we can do, can you show the code that calls the method which is returning the error?

[2018-02-09 21:14] callmehiphop commented on #117
@voltrue2 we have since swapped out pooling libraries and refactored a few other items. If possible, could you try upgrading to `1.0.x` to see if that resolves your issue?

[2018-02-09 21:35] vkedia commented on #118
But this does not look like an error that users should be seeing. We do not want users to be retrying operations. If the error is retryable, then the library should retry it.

[2018-02-09 21:39] stephenplusplus commented on #116
How did you determine the problem was that it was over a maximum amount of mutations? Is it written somewhere that there is a limit?

[2018-02-09 21:44] callmehiphop commented on #118
@manasi99 could you put together a minimal amount of code that reproduces this issue for us? That should help us resolve this issue for you quickly.

[2018-02-09 21:44] manasi99 commented on #118
@stephenplusplus: This is the simple version of actual code where the error is caught in catch block:

[code]

[2018-02-09 22:35] vkedia commented on #116
Yes it is documented here:
https://cloud.google.com/spanner/quotas

In this case the server would return an error.

[2018-02-10 01:35] greenkeeper[bot] opened #119 "An in-range update of @google-cloud/common is breaking the build 🚨"
## Version **0.16.1** of [@google-cloud/common](https://github.com/googleapis/nodejs-common) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2F%40google-cloud%2Fcommon-0.16.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @google-cloud/c

[2018-02-11 21:13] stephenplusplus commented on #116
Thanks. When I tried to reproduce, I received the expected error:

[code]

Could you show the code you're using?

[2018-02-15 18:25] #119 closed

[2018-02-16 11:56] greenkeeper[bot] opened #124 "An in-range update of generic-pool is breaking the build 🚨"
## Version **3.4.2** of [generic-pool](https://github.com/coopernurse/node-pool) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fgeneric-pool-3.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      generic-pool
    </td>
  </tr>
  <tr>

[2018-02-16 12:29] #124 closed

[2018-02-19 05:55] voltrue2 commented on #117
@callmehiphop Any update on this question?

Cheers

[2018-02-19 12:23] greenkeeper[bot] opened #125 "An in-range update of protobufjs is breaking the build 🚨"
## Version **6.8.5** of [protobufjs](https://github.com/dcodeIO/protobuf.js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fprotobufjs-6.8.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      protobufjs
    </td>
  </tr>
  <tr>
    <th al

[2018-02-19 13:11] #125 closed

[2018-02-19 15:08] callmehiphop commented on #117
@voltrue2 I actually haven't been able to reproduce this, even when using your example. I have a hunch why and made a [branch](https://github.com/callmehiphop/nodejs-spanner/blob/dg--117) with a possible fix. Could you test against it to see if it resolves your issue?

[2018-02-20 02:18] voltrue2 commented on #117
@callmehiphop
OK I understand. Let me try and see if this makes any difference.

Cheers!

[2018-02-20 20:40] stephenplusplus commented on #116
Being unable to reproduce, I'm going to close the issue. If you can provide reproduction code, I'll happily try again.

[2018-02-20 20:40] #116 closed

[2018-02-20 20:45] stephenplusplus commented on #118
This has been addressed by a dependency, google-auth-library: https://github.com/google/google-auth-library-nodejs/issues/283. It won't be pulled in automatically, however, we are still determining our game plan to get it out (https://github.com/stephenplusplus/google-auto-auth/issues/39).

I'll mark this as blocked, but hopefully not for long.

[2018-02-21 03:54] walshie4 opened #126 "Issues using IN with an array when using other params"
#### Environment details

  - OS: OS X
  - Node.js version: 8.9.4
  - npm version: 5.6.0
  - @google-cloud/spanner version: 1.0.3

#### Steps to reproduce

  1. Create a table in a database to query against, my example table looks like:
[code]
  2. Run a query which uses params for an array based `IN` statement as well as other non-array params, like so:

[code]
also tried without unnest
[code]

A

[2018-02-21 15:28] stephenplusplus commented on #126
Sorry for the trouble. What error are you getting? I ran the first query example and it returned results.

[2018-02-21 15:35] walshie4 commented on #126
Whoops, just realized I forgot to include the error message:
[code]

[2018-02-21 15:44] stephenplusplus opened #127 "`options.autoCreate` not working"
Tried with `database.get({ autoCreate: true })` and `instance.get({ autoCreate: true })`. They both return the standard 404 error for the resource not existing.

[2018-02-21 16:08] stephenplusplus commented on #126
Thanks! I'm going to paste the code I'm running, which seems to be working as expected. Could you make any modifications that will show the error?

[code]

[2018-02-21 17:36] greenkeeper[bot] opened #128 "An in-range update of google-auto-auth is breaking the build 🚨"
## Version **0.9.4** of [google-auto-auth](https://github.com/stephenplusplus/google-auto-auth) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%2Fgoogle-auto-auth-0.9.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      google-auto-auth

[2018-02-21 17:42] #128 closed

[2018-02-21 20:52] walshie4 commented on #126
Came down to using an older version of the adapter 🤦‍♂️

[2018-02-21 20:52] #126 closed

[2018-02-21 20:56] stephenplusplus commented on #126
Been there. Glad it's working now!

[2018-02-22 05:06] voltrue2 commented on #117
@callmehiphop I am still in the process of testing the new branch. (My apologies for taking long...)
I have a question, though.
What would be the best practice to manage the connections?

Should I be making the database object per database on starting of the process and re-use them?

[code]

Or should I be making the database instance every time we need a connection and close it when we are done?

[2018-02-22 13:50] pembeci commented on #118
We are also seeing these "Auth error:Error: read ECONNRESET" errors in our Cloud Function environment which utilizes Spanner. Since our setup is too complex we were running different narrowed down versions of our code and trying [this patch](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/1294b1a24b307ae7aaefda95abaf07fc08881365/packages/common/src/service.js#L68) to understand if it

[2018-02-23 03:07] vkedia commented on #117
You should make the database object just once per database and reuse. That
will be much more peeformant.

On Wed, Feb 21, 2018, 9:06 PM Nobuyori Takahashi <notifications@github.com>
wrote:

[2018-02-23 11:58] greenkeeper[bot] opened #130 "An in-range update of eslint-plugin-node is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **6.0.1** of [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner/compare/greenkeeper%

[2018-02-23 12:34] #130 closed

[2018-02-26 10:02] voltrue2 commented on #117
@vkedia
Thank you! Got it.
By the way, I was able to solve the issue that I initially had with the new branch @callmehiphop gave me.
But now I have this `1 session leak(s) found.` error when I terminate the application process while reading and/or writing rapidly.
What I do on termination of the process is to call `.close(...)` on all database objects and wait for callbacks, and then terminate the

[2018-02-26 14:49] callmehiphop commented on #117
@voltrue2 that error will have a `messages` attribute containing a call stack for each leak found. Usually it means a transaction was started but never finished. I would use the call stack to find the transaction in question to make sure that `end()` is being called for read only transactions and `commit()` is being called for read/write transactions.

[2018-02-27 01:34] voltrue2 commented on #117
@callmehiphop Great! thank you for the pointer. I will look at my code once again to see where I have missed the end of transaction(s).

Cheers!

[2018-02-28 14:43] stephenplusplus commented on #127
*I put a bunch of thoughts about how to handle this in my PR, but I'm going to move them here, since we might decide that PR is the wrong solution.*

These methods say they support `autoCreate`, but they aren't working currently. I went off to fix that, then realized... maybe they shouldn't support auto-create functionality, because the response arguments (and how to handle them) would be differen

[2018-02-28 17:43] callmehiphop commented on #127
IMO if a user is using the `autoCreate` option, it's because they don't want to go through the hassle of checking the error code and then creating the resource, etc. Something tells me if they're looking for convenience then they're not going to mind if we abstract away the operation as well.

I think that if the user requires a finite level of control we would just direct them to `exists()` and a

[2018-02-28 17:49] DuaneGarber opened #134 "Sessions leaking from Pool"
We are experiencing an issue where sessions are not being constrained.  During our stress testing we are making 4 requests in parallel all by primary keys, 50k times.

During initial test runs of 2000 records, the sessions count grew by 711.  Effectively was we scaled it up in our sandbox we quickly ran out of all 10k sessions in minutes, locking the database.

The session count is being confirmed

[2018-02-28 17:53] stephenplusplus commented on #127
SGTM. Just want to see if @alexander-fenster agrees 👍

[2018-02-28 18:10] callmehiphop commented on #134
@DuaneGarber thanks for the detailed writeup! I might need to dig a little deeper but your proposed solution looks good to me.

[2018-02-28 18:31] vkedia commented on #134
cc @alexander-fenster
Given that we have seen couple of issues with session pool lately, I think we should write a stress test similar to how we did in Java and Go:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java#L205
https://github.com/GoogleCloudPlatform/google-cloud-go/blob/master/spanner

[2018-02-28 20:57] alexander-fenster commented on #127
My understanding has always been that we should make common operations easy, and complicated operations possible. So I see nothing wrong in hiding any details (e.g. allowing `{autoCreate: true}` and performing some hidden stuff under the hood), if (a) the hidden stuff is well-documented, and (b) it's possible for the user to choose not to use `{autoCreate: true}` and control the creation manually.

[2018-03-01 16:25] stephenplusplus commented on #127
Alright, done! #133

[2018-03-02 16:26] #127 closed

[2018-03-02 17:49] #117 closed

[2018-03-03 01:00] vkedia opened #139 "YCSB benchmark hangs up with workload b"
@haih-g was trying to run the benchmark with workload b (50% read and 50% update) with operation count=50000. But the benchmark did not finish even after 1 hour and CPU usage was 100%.

[2018-03-06 17:52] hugoluchessi opened #143 "Error: Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential"
Hi, this errors has being occurring intermittently on my Cloud Function using Spanner.

The thing is that this error never occured until yesterday (march 5th, 4:09PM -3:00).

Could you please help me to workaround this issue?

#### Environment details

  - OS: Google Cloud Functions
  - Node.js version: -
  - npm version: -
  - @google-cloud/spanner version:  ^1.0.2

#### Steps to reproduce
Not de

[2018-03-06 18:04] hugoluchessi commented on #143
I've jsut updated spanner client version to "^1.1.0" to check if it solves the issue.

But as no new releases has been released yesterday regarding spanner or auth, I'm skeptic this will work.

[2018-03-06 18:18] stephenplusplus commented on #143
Interesting. We did recently upgrade the auth layer, [`google-auth-library`](https://gitnpm.com/google-auth-library).

Tagging a related issue: https://github.com/google/google-auth-library-nodejs/issues/168

What version were you using before, when the error started?

[2018-03-06 18:28] hugoluchessi commented on #143
I was using ^1.0.2 for some weeks already and no errors of this kind were noticed before yesterday.

I didn't change any code yesterday, I have just updated the versions (30 minutes ago).

[2018-03-07 22:21] stephenplusplus commented on #143
This is going to be a hard one to attempt to reproduce. Could you work up any more details about the calls you're making that might lead to this error? If we're still stuck with only this error to go by, I'll move this over to the auth repo, to see if that team can come up with anything.

One thing that might help, if you're not already doing it. Instantiate the Spanner client inside of the export

[2018-03-08 09:27] pembeci commented on #118
Thanks. We'll test it immediately.

[2018-03-08 19:52] DuaneGarber commented on #134
Closed By: https://github.com/googleapis/nodejs-spanner/pull/135

[2018-03-08 19:52] #134 closed

[2018-03-09 11:49] assafY opened #151 "Inserting a string into a BYTES column fails with value exceeds maximum size limit error"
Env:
  - OS: Debian 4.9.65-3
  - Node.js version: 9.4.0
  - npm version: 5.6.0
  - @google-cloud/spanner version: 1.1.0

I am trying to insert 256bit hex hash strings into spanner tables as bytes - the column being inserted to is of type BYTES(32).

I have attempted to insert the string without modification, then using `Buffer.from({hash})`, and finally using `Buffer.from({hash}, 'hex')`, but all

[2018-03-09 20:21] stephenplusplus commented on #151
Could you show an example of the value of `{hash}` you're attempting?

[2018-03-09 21:51] assafY commented on #151
Here is an example:

ccb1cab0e893c94ccb198d72db867657776bd06690005df453aa46d6e068c16a

[2018-03-09 21:55] stephenplusplus commented on #151
Thanks. That worked fine for me like this:

[code]

[2018-03-09 22:05] assafY commented on #151
Thanks. It works now.

Not sure what I did wrong, as I did try that, but something must have been wrong in my code.

[2018-03-09 22:05] #151 closed

[2018-03-13 22:27] jsjaspreet opened #153 "Large Query Request sometimes results in TypeError: value.map is not a function"
#### Environment details

  - OS: Ubuntu 16.04 LTS
  - Node.js version: v8.9.3
  - npm version: 5.7.1
  - @google-cloud/spanner version: 1.1.0

#### Steps to reproduce

  1. Have a table ready with thousands of rows
  2. Use the Spanner client library's `database.run` function to run a query like below where the limit is high (I'm seeing limit fail at 1000):

[code]
  3.  This intermittent error s

[2018-03-14 15:23] stephenplusplus commented on #153
I haven't been able to reproduce yet, using a table with 10,000+ rows and a limit of anywhere from 50 to 7500. Would you be able to prepare code that could reproduce an error, then I'll adapt to my database and table?

[2018-03-14 17:00] greenkeeper[bot] opened #154 "An in-range update of @google-cloud/nodejs-repo-tools is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.2.3** of [@google-cloud/nodejs-repo-tools](https://github.com/GoogleCloudPlatform/nodejs-repo-tools) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-spanner

[2018-03-14 18:03] jsjaspreet commented on #153
sure, let me write some reproducible code, will get back to you, thanks for the quick response!

[2018-03-14 19:03] #154 closed

[2018-03-19 15:13] stephenplusplus commented on #143
Hey @hugoluchessi, just wanted to check in for any updates you might have before I move this over.

[2018-03-20 14:55] stephenplusplus commented on #153
@jsjaspreet any updates? :)

[2018-03-20 15:55] jsjaspreet commented on #153
Sorry just got back from vacation, let me see if I still run into this
issue with the latest spanner version, will get back to you today!

On Tue, Mar 20, 2018, 7:55 AM Stephen <notifications@github.com> wrote:

[2018-03-20 16:10] stephenplusplus commented on #153
No problem, take your time. Hope you had a good vacation!

[2018-03-21 06:24] jsjaspreet commented on #153
Hey Stephen! Just want you to know I haven't forgotten this, still getting some reproducible code ready, will get to you soon.

[2018-03-26 16:32] stephenplusplus commented on #143
This issue was moved to https://github.com/google/google-auth-library-nodejs/issues/334.

[2018-03-26 16:32] #143 closed

[2018-03-28 13:17] stephenplusplus commented on #153
@jsjaspreet I'm going to close, but I will re-open if you provide the reproduction code :)

[2018-03-28 13:17] #153 closed

[2018-03-30 19:16] jkoelker opened #170 "`runTransaction` returns a Promise?"
The docstring/docs for [`Database.runTransaction`](https://github.com/googleapis/nodejs-spanner/blob/master/src/database.js#L1196) state that it returns a `Promise`. Alas it does not return anything. Promise returns appear to have been removed in 25ce9bf6f56ad08211be54cccf5bc7146b159093.

[2018-03-30 20:09] stephenplusplus commented on #170
Woops! Interested in sending a PR to remove that part of the docs?

[2018-03-30 20:10] pmadruga commented on #83
I landed here after a google search for another library but with the exact same issue. The solution was to include the `keyFilename` property.

[code]

Hope it helps.

[2018-03-30 20:17] jkoelker commented on #170
Well it seems to be a bit more endemic rather than an isolated case for example I also ran across [`getTransaction`](https://github.com/googleapis/nodejs-spanner/blob/master/src/database.js#L776). Spot checking most of the `Database` api that claims to be `Promisable` is not.

This makes integrating with cloud funcs a bit interesting, since we can return a promise and have it wait for it to resolv

[2018-03-30 20:35] stephenplusplus commented on #170
Have you tried to run that method and verify promises aren’t working? Everything in the Database class should run as promised [except these](https://github.com/googleapis/nodejs-spanner/blob/69b9dcbf8e4292bca28fd289899ee9a004ae4cce/src/database.js#L1527).

[2018-03-30 20:51] jkoelker commented on #170
Sorry I should have been more explicit about what I meant when I said `Promisable`, yes most of the class with the exception of the excludes you can chain onto the immediate implicit return of `undefined`, but you cannot chain onto the inner promise that is performing the work.

I suspect specifically in my case from the auth-library issue is that the process is getting canceled when the cloud fun

[2018-03-30 21:09] stephenplusplus commented on #170
Ah, interesting. Paging @callmehiphop!

[2018-03-30 22:30] callmehiphop commented on #170
@jkoelker  hopefully you'll forgive me if I'm not understanding the issue, but are you saying that certain methods that use promises internally are not propagating auth errors correctly?

[2018-03-31 01:56] jkoelker commented on #170
I'm not entirely sure what the core of the issue is, my use case is for keeping a bucket inventory in spanner, using a cloud func triggered on `OBJECT_FINALIZE` and `OBJECT_DELETE`. The repro funcs are at [this gist](https://gist.github.com/jkoelker/2954cc37129100012092197ad22ebead).

This works great except when many objects are acted upon at the same time, specifically when I upload 30 files at

[2018-03-31 04:30] callmehiphop commented on #170
I think I understand now (thanks for sharing your code). Unfortunately I don't think we'll ever be able to return a Promise from `runTransaction`. The function passed to `runTransaction` can be called multiple times in the event of an `ABORTED` error. This makes it tricky to support Promises because we would have to retry all the chained functions until commit is called.

As a work around I would

[2018-03-31 04:58] jkoelker commented on #170
Resolving as a side effect of calling `commit()` is the hackery I mentioned above, but I should point out you can't reliably use `getTransaction` either as the promise it returns is immediately resolved to [`undefined`](https://github.com/googleapis/nodejs-spanner/blob/master/src/database.js#L806), instead of being able to chain off the session. Or at least I was unable to coerce it to return a pr

[2018-03-31 20:35] callmehiphop commented on #170
@jkoelker could you share a code example of how you're using `getTransaction`? I just wrote this simple test and it worked fine for me.

[code]

[2018-03-31 21:01] jkoelker commented on #170
Unfortunately I don't have it anymore as I was in the midst of troubleshooting when I tried it, I think my problem was that I was passing in the same `(err, transaction)`  callback I was using for `runTransaction` to `getTransaction`, then trying to chain off the return,  instead of calling it with no params.

Thanks for the pointer in the right direction there. Once I get it working reliably, I'l

[2018-03-31 21:03] callmehiphop commented on #170
No worries, let us know how it goes!

[2018-04-02 12:17] dan-j commented on #170
Just jumping on this thread coming from https://github.com/google/google-auth-library-nodejs/issues/320#issuecomment-377348124 and think you should wrap the contents of `objectDelete(file)` in a promise and resolve it after you close the database, i.e.

i.e.

[code]

[2018-04-02 14:09] callmehiphop commented on #83
@stephenplusplus I'm afraid I don't have the bandwidth to take this on at the moment, so I'll have to send it back your way.

[2018-04-02 15:48] stephenplusplus commented on #83
I'm going to leave it unassigned for now, as chances are you'll have the time to check it out before me (this is about impossible to attempt on Windows).

[2018-04-04 12:08] #170 closed

[2018-04-10 20:32] manasi99 opened #173 "TypeError: Cannot read property 'type' of undefined at SessionPool.getSessionGroup_"
I have a cloud function deployed on GCP which is triggered by Cloud Pub/Sub topic. It connects to cloud spanner to insert the pub/sub event data. It is a high volume pub/sub topic and make simultaneous insert requests in different cloud spanner table. However, it keep giving below errors intermittently.

ERROR:
TypeError: Cannot read property 'type' of undefined at SessionPool.getSessionGroup_ (/u

[2018-04-10 20:35] manasi99 commented on #173
Sample Code for reference -

[code]

[2018-04-13 01:33] callmehiphop commented on #173
@manasi99 thanks for reporting! I'm having a difficult time reproducing, but I think I have pinpointed the cause. I've opened a pr (https://github.com/googleapis/nodejs-spanner/pull/174) that I think will resolve it. Do you have any bandwidth to test the changes and confirm if the issue still exists?

[2018-04-13 01:38] manasi99 commented on #173
@callmehiphop I can test the changes. Can you tell me the version of cloud spanner I should use to test ?

[2018-04-13 01:50] callmehiphop commented on #173
@manasi99 I haven't cut a release with this change, but you can install it with the following command

[code]

[2018-04-16 18:36] manasi99 commented on #173
@callmehiphop : Can you please tell me after I install this fix, how should I deploy the cloud function with this version of nodejs-spanner ?

[2018-04-17 17:34] stephenplusplus commented on #173
If you're comfortable testing a deploy with the pre-release branch @callmehiphop mentioned, it should be automatic. As long as you include the `--save` in your `npm install` command, it will be written to package.json, and that will be deployed and used.

[2018-04-17 20:09] manasi99 commented on #173
@callmehiphop We have pushed this fix in our testing environment and will monitor the cloud functions for a few days as it is an intermittent issue. I'll update you soon.

[2018-04-18 13:06] hugoluchessi commented on #143
Sorry for the late response.

But this issue can remain closed, I've updated all dependencies on my project and this issue didn't happen anymore.

Thanks for the help.

[2018-04-23 03:12] walshie4 opened #177 "Session pool max not respected"
#### Environment details

  - OS: CentOS
  - Node.js version: 8.9
  - npm version: 5.6
  - `@google-cloud/spanner` version: v1.4.0

#### Steps to reproduce

 None currently, I will create some if it comes to that.

#### Question

I have a an API which is using this Spanner library with its default pooling settings.  Per those settings [0] the max number of sessions in each pool should be 100.  Whe

[2018-04-23 16:03] callmehiphop commented on #177
Hi @walshie4, I'm sorry to hear you're having issues! Can I ask how you're verifying that you're hitting the 30,000 session limit? If you're seeing the `Timed out acquiring session.` error, that just means that your pool of `100` sessions has hit its max.

In the event that your commit fails we try not to make any assumptions about how you wish to handle that failure. So we do not release the sess

[2018-04-23 16:44] walshie4 commented on #177
@callmehiphop Thank you for the timely response.  I've been tracking the session count using the stackdriver metric.  I'll take a look around and re-open this if I have more information on this front.

[2018-04-23 17:01] walshie4 commented on #177
@callmehiphop Is calling `end` needed for read-write transactions which fail at `commit` as well?  The docs mention read-only only.

https://cloud.google.com/nodejs/docs/reference/spanner/1.4.x/Transaction#end

[2018-04-23 17:50] callmehiphop commented on #177
Yep! `commit` calls `end` internally after a successful request, however if it fails, we don't want to release the session in case you end up retrying, etc. I'm only speculating, but it sounded like maybe after the commit failure the transaction wasn't being retried and the expectation was that GC cleaned up. Assuming that's the case, I think this is something we can fix with better docs.

[2018-04-25 21:07] walshie4 commented on #153
Just wanted to note we're still seeing this.  When we have some more free time we'll work on getting a repro repo setup.

[2018-04-26 00:26] manasi99 commented on #173
@callmehiphop  Thanks for your patience Dave. We are good to go with this fix as we have not seen this error occurring in our test environment.

[2018-04-26 20:45] #173 closed

[2018-04-27 13:51] bbransteitter opened #180 "runStream returning incomplete and out of order rows"
#### Environment details

  - OS: Ubuntu 16.04.4 LTS
  - Node.js version: 6.14.1
  - npm version: 5.8.0
  - `@google-cloud/spanner` version: 1.4.1

#### Steps to reproduce

I have a table with this structure:
[code]
When I run the following query:
[code]
My table has 17349  records

Occasionally (1 in 5) when I run this query using:
[code]
I will get rows that are missing the recordId and the valu

[2018-04-30 19:19] walshie4 opened #183 "Error 14 UNAVILABLE: EOF"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.6
  - npm version: v5.6.0
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce

  Will attempt to create some if needed.

Hello 👋

I have a set of APIs using this spanner library and as a transfer over a substantial amount of load (a few thousand requests per second) to these APIs I start to get errors from spanner

[2018-04-30 21:01] vkedia commented on #180
@stephenplusplus @jonparrott Can we please prioritize this and get it fixed asap. This seems pretty critical if this is actually a bug.

[2018-05-01 02:45] walshie4 commented on #183
Was just looking through the logs, not sure if this is always happening but right before that I get a couple `timeout acquiring session` errors.  My `acquireSession` timeout is `4000ms`, with a min pool of 100 & max of 500.

Generally curious about how y'all suggest we setup an automatically scaled system with this spanner library's pooling logic in the middle.  I've run into a bunch of issues wit

[2018-05-01 15:36] bbransteitter commented on #180
I am available to do screen shares or hangouts if it will help with seeing the bug in action.

[2018-05-01 17:21] walshie4 opened #184 "Spanner session count growing well beyond limit"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.6
  - npm version: v5.6.0
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce
Will create some if needed

I am running a replicated set of APIs using this library with the following session pool configuration:
[code]

You may have noticed the `writes: 50` value down there as being a bit odd.  I had forgotten this v

[2018-05-01 20:08] callmehiphop commented on #184
@walshie4 I think this is a documentation failure on our part, but writes should be a decimal representing the percentage. The code assumes it comes in as a decimal and we calculate the number of sessions to create via `min * writes`.

I'm going to update the docs and I think scrub the `writes` value for whole numbers greater than 1, since this is a pretty easy mistake to make, but in the mean tim

[2018-05-01 20:11] callmehiphop commented on #183
@vkedia you could probably speak to the `EOF` error better than I can, any insights here?

[2018-05-01 20:50] walshie4 commented on #184
Thank you for the clarification & regression test case @callmehiphop.  The behavior now makes sense 👍

[2018-05-01 20:50] walshie4 commented on #184
I'll actually leave this open until the PR is merged

[2018-05-02 18:10] vkedia commented on #183
This looks like a bug in the client library to me. All kind of UNAVAILABLE errors should be transparently retried by the client library and should never be propagated to the user.

[2018-05-02 20:11] vkedia commented on #183
@walshie4 couple of observations
- Setting max sessions to 1000 does not mean that the library will necessarily create 1000 sessions. It will only do so if at any point in time you had 1000 concurrent transactions.
- The client library should automatically downsize the session pool and free up any unused sessions. If you set the max to 1000, even if the library ended up creating 1000 sessions to h

[2018-05-03 20:09] callmehiphop commented on #183
Sure thing! @walshie4 would you be able to provide us with a minimal amount of code that can reproduce the issue you're seeing?

[2018-05-03 20:14] #184 closed

[2018-05-03 20:36] vkedia commented on #183
@walshie4 are there some more logs or stack trace that you can share which will help us figure out exactly which call is throwing this error.

[2018-05-03 21:06] walshie4 commented on #183
Sure here are two different stack traces for errors around this message:

![image](https://user-images.githubusercontent.com/945703/39602785-13655000-4edb-11e8-9918-a7a72e1a2527.png)

![image](https://user-images.githubusercontent.com/945703/39602801-1db927fc-4edb-11e8-874e-e63811c3518a.png)

[2018-05-03 21:44] walshie4 commented on #183
A co-worker of mine also saw these rejections after recieving the `UNAVAILABLE: TCP Read failed` error

![image](https://user-images.githubusercontent.com/945703/39604335-88953c46-4ee0-11e8-9a9a-35ba1edaf144.png)

[2018-05-03 22:45] vkedia commented on #183
@walshie4 Thanks. What spanner method were you calling which returned these errors? From the stack trace I cannot figure that out.

[2018-05-03 23:00] walshie4 commented on #183
Have one more stacktrace I just saw with a new message:

![image](https://user-images.githubusercontent.com/945703/39606352-daf0970c-4ee9-11e8-8d92-2e9a4074f67f.png)

As for the function being called, it's hard to tell exactly which is causing this error but I believe it is from a `spannerDb.run` call.

[2018-05-03 23:16] walshie4 commented on #183
Looking deeper I see the auth and TCP Read messages on both`db.run` and `db.update` calls.  It appears to be more common with `db.run`

[2018-05-04 20:04] vkedia commented on #183
@callmehiphop can you try to poke into the code and see if there are some places where we do not retry unavailable? Ideally GAPIC should be retrying these, right except for streaming rpcs.

[2018-05-05 00:08] callmehiphop commented on #183
@vkedia According to the [GAPIC config](https://github.com/googleapis/nodejs-spanner/blob/master/src/v1/spanner_client_config.json#L7) we retry for UNAVAILABLE errors for all non-streaming rpcs.

[2018-05-05 09:59] Chipintoza opened #189 "Deadline for Transaction exceeded - question"
OS: Mac OSX 10.13.4
Node.js version: 8.9.1
yarn: 1.6.0
`@google-cloud/spanner` version version: 1.4.1

#### Steps to reproduce

i am Intensely importing data into spanner database.

when executing database.runTransaction((err, tx) => {
i have error:

i log transaction.js - Transaction.prototype.shouldRetry_:

[code]
and log is:

when this function return true log look like:

I have question how ca

[2018-05-05 21:09] alexander-fenster opened #190 "nightly testing flakyness"
We haven't had a clean nightly run for spanner for a long time. The fact that we kind of ignore test failures is a sign that something is going wrong. If tests are bad they should be fixed or at least marked to skip, otherwise there is no need to run them at all.

I suggest that we spend some time the following week on our engineering debt and make sure we have several green nightly runs.

Red pag

[2018-05-06 23:31] callmehiphop commented on #183
@vkedia AFAIK gax does not have any retry logic for streaming rpcs.

[2018-05-07 15:47] callmehiphop commented on #189
@vkedia it looks like @Chipintoza is getting an aborted error, but the API is not returning any retry info. Could there be a specific reason why we aren't getting retry info returned to us? Is there a recommended way of handling this scenario?

[2018-05-07 16:06] vkedia commented on #183
Yes but does the node.js library not retry broken streams. It should
restart the stream using resume token.

On Sun, May 6, 2018 at 4:31 PM, Dave Gramlich <notifications@github.com>
wrote:

[2018-05-07 16:15] stephenplusplus commented on #190
@callmehiphop did we have a theory for why sample tests fail so frequently? I recall that we did some investigating, but I can't remember if we ever figured anything out?

[2018-05-07 18:00] alexander-fenster commented on #190
My only theory for now is that the 'instance does not exist' error may be caused by system and samples tests running at the same time if the cleanup in any test is implemented incorrectly. I cannot prove it though.

[2018-05-07 21:07] walshie4 commented on #177
Hello 👋

We've implemented the mentioned missing call to `end` for commit failures however I am still seeing the session pool behave in unexpected ways resulting in many issues.

I've tried a large number of permutations to the session pool setting to little or no gain.  I am still seeing this issue manifest itself.  I have 120 replicas each with a session pool configured to have a `max` of `1100`

[2018-05-07 21:33] walshie4 commented on #177
If it helps the load being applied is mostly reads (indexed or PK)

[2018-05-07 21:47] vkedia commented on #177
@walshie4 sorry to hear about the issues you are having. Let me assure you that the problems you are running into are likely bugs in the node.js library and not in the cloud spanner backend.
@danoscarmike Can we prioritize investigating this issue and making whatever fixes are required. This seems like a pretty severe issue.
cc @snehashah16

[2018-05-08 13:41] stephenplusplus commented on #180
I was able to reproduce, I'll update with any findings.

[2018-05-08 21:34] callmehiphop commented on #190
Truthfully I have no idea! I remember we caught a bug with system test failures, but I don't recall ever looking into the sample tests.

[2018-05-08 21:35] callmehiphop commented on #183
I think it does, but @stephenplusplus should be able to give us a definitive answer.

[2018-05-08 22:28] danoscarmike commented on #177
@callmehiphop can you have another look at this?  Thanks.

[2018-05-09 18:06] walshie4 opened #192 "Session Pool Leaks & Investigation"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.6
  - npm version: v6.0.0
  - `@google-cloud/spanner` version: v1.4.1 (kinda - see below)

#### The issue

As I've mentioned in my other issues (#183, #177) we're (@honeyscience) attempting to apply a fairly large amount of load to our new Spanner backed APIs but are running into a slew of session pooling issues.  The main issues a

[2018-05-09 18:10] walshie4 commented on #192
Also any news on the session pool stress tests for this library?

https://github.com/googleapis/nodejs-spanner/issues/134#issuecomment-369336507

[2018-05-09 18:14] callmehiphop commented on #192
@walshie4 its definitely on my radar, I think its something I might try to tackle this week.

[2018-05-09 18:16] stephenplusplus commented on #183
Within our PartialResultStream class, we retry after any error from the last resume token. If we don't have a token, we pass the error along to the user and abort the request.

Here's the code: https://github.com/googleapis/nodejs-spanner/blob/master/src/partial-result-stream.js#L127-L136

[code]

[2018-05-09 18:34] walshie4 commented on #192
Lowered the size of the read pool to test this theory and saw requests queue up for the read pool, so that statement above is not correct.

[2018-05-09 19:34] walshie4 commented on #192
With our most recent commit fixing a leak we had https://github.com/honeyscience/nodejs-spanner/commit/39044f318198cad0ae6d54b1b56f29bdb1cf83ac we've seen some very strong results so far with this code in production.  We'll continue to monitor this and report back in a few hours.

[2018-05-10 14:19] stephenplusplus commented on #190
I think we're good: #193

[2018-05-10 16:19] callmehiphop commented on #177
I'm going to close this since the original issue seems to have been resolved and this appears to be morphing into a clone of #192.

[2018-05-10 16:19] #177 closed

[2018-05-10 16:20] callmehiphop commented on #189
@vkedia friendly ping

[2018-05-10 16:59] stephenplusplus commented on #190
After #193, the sample tests seem to be fixed, but there's still an issue with system tests: https://circleci.com/gh/googleapis/nodejs-spanner/4195

[2018-05-10 17:03] anup-honey commented on #192
We have reimplemented the session pool logic and deployed in our prod environment. It has been running overnight and we haven't noticed any session leaks in our code. Based on the load, the sessions will be added and eventually, the sessions get terminated if there is not enough load.
This is the link to the code:

https://github.com/honeyscience/nodejs-spanner/blob/master/src/session-pool.js

Let

[2018-05-10 17:29] vkedia commented on #192
Firstly @anup-honey and @walshie4 thanks a lot for taking the time to dig into this and reimplenting the logic. We really appreciate that.
@stephenplusplus  @callmehiphop  I am ok with replacing the current session pool code with this if it does fix the issues with the current code. But I have not taken a look at the code. Can you guys review this code?
Since this is the second time we will be rep

[2018-05-10 17:56] anup-honey commented on #192
@vkedia Thanks for the response. I will prepare the code for a PR and create one by the end of the day.

[2018-05-10 18:29] callmehiphop commented on #192
Thanks @anup-honey @walshie4! I'd be happy to review

Side note: @vkedia could we possibly get a one pager outlining what a session pool stress test should look like? I can probably figure it out from the java/go code but I think it would take considerably longer than if a document was made available. This would have the added benefit of being sharable with all teams as well.

[2018-05-11 11:06] Chipintoza commented on #189
@vkedia @callmehiphop i try reduced parallel tasks to 5, but it still happen.
Yes i think it is error. if i want to run some tasks on my database now it is Impossible :(.

[2018-05-11 15:05] stephenplusplus commented on #190
Here's a potential fix that I originally tried last year for the same CI failures: https://github.com/googleapis/nodejs-spanner/pull/16

[2018-05-11 15:10] vkedia commented on #189
Looking at the log it seems to me that when RetryInfo is present when the
error code was aborted. Actual error they are getting seems to be deadline
exceeded.

On Fri, May 11, 2018, 4:06 AM George Batsanadze <notifications@github.com>
wrote:

[2018-05-11 18:58] Chipintoza commented on #189
@vkedia that means i need to wait and retry? Is it better to do that by client's library?

[2018-05-11 19:08] callmehiphop commented on #189
@vkedia we never actually give the user an aborted error, in the event that we get an aborted error and there is no retry info, we give back a deadline error instead.

[2018-05-11 20:58] vkedia commented on #189
@Chipintoza we should handle this better in client library. Till we fix it, you might want to do retry in your code.
@callmehiphop thanks for the explanation. Then it does seem that the retry info was missing which is not really expected. In the Java client library, we also maintain an exponential backoff delay which we increase every time we do a retry but we use that backoff only if retry info i

[2018-05-11 21:18] anup-honey commented on #192
I have created a PR
https://github.com/googleapis/nodejs-spanner/pull/194

I have tried to stick to the same unit test case format. The documentation needs to be updated and it is going to be a major change.

[2018-05-16 01:40] walshie4 opened #195 "Error: Value of type undefined not recognized"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.4
  - npm version: v6.0.0
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce
(not sure if this will reproduce it but this is what causes it for me)
  1.  Setup database with interleaved tables
  2. Run a select to get 50 interleaved records (from multiple different parent tables)
  3. Attempt to delete these cross

[2018-05-17 01:54] walshie4 commented on #195
🤦‍♂️ just realized I fell into the same trap as mentioned in the previous ticket, destructured using the wrong name and got `undefined`

[2018-05-17 01:54] #195 closed

[2018-05-17 04:30] walshie4 opened #197 "Out of Bounds for non-existent value"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.4
  - npm version: v6.0.1
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce

  1. ???
  2. ???

Not sure how to reproduce as this is quite odd.  I'm paging data out of an interleaved table using a standard `SELECT * FROM <TABLE> ORDER BY id LIMIT X OFFSET Y` query.  When querying this certain table I get the belo

[2018-05-17 06:46] walshie4 commented on #197
I'm starting to think this may be related to this https://github.com/googleapis/nodejs-spanner/issues/180 issue.

I added some extra logging and printed out the trouble rows which are causing the error.  They have values swapped around (enumerated values in ID fields), some are `null`,  and my `created` and `updated` timestamps are massive values.

[2018-05-17 06:52] walshie4 commented on #197
The code which produces this issue for me is:
[code]

[2018-05-17 07:06] walshie4 opened #198 "Error: decoded.map is not a function"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.4
  - npm version: v6.0.1
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce

  1. ???
  2. ???

This error is occasionally happening when running the same query as in #197.

[code]
[code]

[code]

[2018-05-17 15:32] walshie4 commented on #139
Has there been any progress on this?  I've seen similar things in our usage (certain larger writes or reads never return), and this sounds concerning for the backing of a production application.

[2018-05-18 13:18] stephenplusplus commented on #197
Yes, this sounds like the same issue. I'll leave #180 open to track.

[2018-05-18 13:18] #197 closed

[2018-05-18 13:19] stephenplusplus commented on #198
This is likely #180 as well, sadly.

[2018-05-22 04:16] alexander-fenster commented on #180
The customer asks to prioritize #197 (that refers to this issue).

[2018-05-22 21:03] danoscarmike commented on #183
@stephenplusplus anything further on this?

@walshie4 were you able to provide some code for repro?

[2018-05-22 21:05] danoscarmike commented on #180
Ping @stephenplusplus any updates?

[2018-05-23 00:02] stephenplusplus commented on #180
I'm working on getting a consistent reproduction case, then I'll make that available for anyone who wants to take a crack at it (including myself). So far, I have a theory, @crwilcox is looking at something else that could be the issue. At some point, we're probably going to have to involve @callmehiphop, though I'm trying to excuse him from this one as long as possible, given his ongoing work wit

[2018-05-23 01:31] walshie4 opened #202 "Error: 2 UNKNOWN: Transaction outcome unknown"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.4
  - npm version: v6.0.1
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce

  1. ???
  2. ???

Not sure what causes this but these errors started trickling in this morning.  There's been about ~75 throughout the course of the day.  Mainly wondering what would cause this sort of error and how I can go about debug

[2018-05-23 01:40] walshie4 commented on #183
I have not been able to set anything up yet.  I'll see if I can get a repro case setup when I get some time.

Here's another variant of this error I just happened upon:

![image](https://user-images.githubusercontent.com/945703/40398931-6247775c-5def-11e8-85f0-a437f14f3b90.png)

[2018-05-23 01:53] walshie4 commented on #202
FWIW this error occurs in the same location as we currently get a bunch of errors like so:
[code]

[2018-05-23 01:58] walshie4 commented on #202
Another thing to note is that the requests which fail with this error all fail in just over 5 seconds.  Could be a coincidence but they're all within `5020ms` to `5275ms`

[2018-05-23 02:08] walshie4 commented on #202
Here is the code which is causing this error (but succeeds usually):

[code]

This code was written before we got further along with spanner so the approach is a bit odd but does work for nearly all inserts.

[2018-05-23 02:14] theacodes commented on #180
Is @callmehiphop currently out of office? If not, let's pull them in. This is a P0 customer issue, it takes priority over feature work.

[2018-05-23 03:03] danoscarmike commented on #180
Formally assigning @callmehiphop. @alexander-fenster would appreciate your thoughts too.

[2018-05-23 06:04] alexander-fenster commented on #180
I'm risking of providing some irrelevant input as I don't really know this code, but as you asked me, I spent some time looking at `toJSON` and its roots and I see just one place where things could get messed up and it's [this code](https://github.com/googleapis/nodejs-spanner/blob/0090be321617050ea227c97738c84054d328eaf8/src/row-builder.js#L167) which is based on the strong assumption that iterat

[2018-05-23 06:06] alexander-fenster commented on #180
Copying the code that makes me thinking it might have a problem:
[code]

[2018-05-23 14:17] stephenplusplus commented on #180
I've put together a pretty consistent reproduction script in a PR: #203. I've also added a `console.log` in the source code that will only execute when we are about to crash. If anyone wants to take a look, feel free to contribute any ideas.

[2018-05-23 20:17] crwilcox commented on #180
@bbransteitter, after looking at @stephenplusplus repro I think I have discovered the issue. This resolved it in the repro we had. Would you be interested in trying a custom build to see if it fixes your problem? If you install in the following way you can try out my fix: `npm install googleapis/nodejs-spanner#180-crwilcox`

[2018-05-24 05:42] danoscarmike commented on #183
@snehashah16 can you please take a look?  Per @stephenplusplus https://github.com/googleapis/nodejs-spanner/issues/183#issuecomment-387828852 :

[2018-05-24 17:42] walshie4 opened #205 "Query does not return"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.4
  - npm version: v6.0.1
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce

  1. Setup table with mutli-part primary key
  2. query said table with a query which references and groups two of the three parts of the tables primary key (see example)
  3. result or error never arrive

We have a table where the prima

[2018-05-24 18:13] walshie4 commented on #180
Deployed this to one of our heavier load APIs which was also being affected by this issue and the results seem consistent.

Another encouraging metric, the fairly constant stream of errors for `executeStreamingSql` have dropped down to zero.

![screen shot 2018-05-24 at 11 12 26 am](https://user-images.githubusercontent.com/945703/40503586-6c1eac64-5f43-11e8-8643-7c8dab9fb267.png)

[2018-05-24 18:44] walshie4 commented on #205
Possibly related to https://github.com/googleapis/nodejs-spanner/issues/116

[2018-05-24 20:34] walshie4 commented on #180
Just had to revert away from this proposed change because we started getting reads which were incorrectly returning no rows.

It's so far been very brief using the library without this change but local testing and runs thus far are showing either a variety of the stream errors I've reported, or the correct values.

This makes me think there is something about the proposed change (https://github.co

[2018-05-24 21:26] snehashah16 commented on #183
@stephenplusplus

Please use the java client as a reference to handle this scenario:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerImpl.java#L2416

[2018-05-24 22:17] crwilcox commented on #180
@walshie4  thank you so much for giving this a whirl. I just updated the PR. @stephenplusplus  and I came to a different solution that, after a good deal of testing, seems to return the rows. The previous solution had a side-effect of occasionally returning less rows than requested.

if you retry with `npm install googleapis/nodejs-spanner#180-crwilcox` and could let me know how that works for you

[2018-05-24 23:38] walshie4 commented on #180
Just deployed the updated candidate, will report back in ~an hour.

[2018-05-24 23:58] walshie4 commented on #180
Generally looks good, not sure if this is truly a blocker for this fix but I'm still getting some of the errors described in #198

[2018-05-25 21:19] crwilcox commented on #180
@walshie4 . I think two issues may be conflated here. It seems the fix in #204 does fix this issue (#180) but it doesn't address #198, which was originally believed to be the same root cause. If you think this is correct I would like to reopen your issue and spin it off as to not cross the two things up too much.

@bbransteitter , did this work for you?

[2018-05-25 21:29] walshie4 commented on #180
@crwilcox That sounds good to me, see you there. 👋

[2018-05-25 21:32] walshie4 commented on #198
Re-opening this following the discussion in #180.  The issue is currently resulting in an unhandled rejection with the above error which seems to cause the promise from the library to never resolve or reject causing our tasks to freeze up.

[2018-05-28 06:05] walshie4 opened #207 ".toJSON() sometimes doesn't convert values"
#### Environment details

  - OS: CoreOS
  - Node.js version: v8.9.4
  - npm version: v6.1.0
  - `@google-cloud/spanner` version: v1.4.1

#### Steps to reproduce

  1. Setup db with table which contains a field with a definition as follows:
[code]
  2. Query said table (I'm doing this in queries with a `LIMIT 1000` on them), and call `.toJSON()` on each returned row
  3. Use some validation code l

[2018-05-29 16:47] crwilcox commented on #180
I have reimplemented the streaming for spanner queries. I still have to rework some of the unit tests since things behave a bit different now, but if you want to try it it is installable via `npm install googleapis/nodejs-spanner#rewrite-partial-result-stream`. This fixes some issues raised in the PR for the targeted fix I provided last week.

@bbransteitter have you had a chance to try the previo

[2018-05-29 16:48] crwilcox commented on #198
@walshie4
Sorry for a bit of delay between responses. I have rewritten the core logic of how we stream rows. It is possible it has fixed this issue also now (even though I believe this is not related to the other). If you want to try `npm install googleapis/nodejs-spanner#rewrite-partial-result-stream` you can.

[2018-05-29 18:05] walshie4 commented on #207
Not 100% sure this is related but I have a millisecond unix timestamp value which when read from the db sometimes comes out as a string and sometimes as an int (same value).  Feels like it could be related here possibly.

[2018-05-29 21:13] PacciniBruno commented on #192
Off topic but I would love to know how you set up those charts (especially the session count & session creation/deletion ones), or if it's accessible somewhere on GCP, where @walshie4 :)

[2018-05-29 22:03] walshie4 commented on #207
^ those values seem to only have this issue on objects which also suffer from the `ARRAY<>` is an object issue

[2018-05-29 22:03] walshie4 commented on #198
🙇 Thank you for the branch @crwilcox.  I've tested it next to my current latest and can confirm it does in fact resolve this issue.

[2018-05-29 22:36] walshie4 commented on #192
@PacciniBruno I created them in stackdriver using the available system Spanner metrics.  If you're on a dashboard and click the `Add Chart` button and type `spanner` into the resource input box you should see them available.  Sessions is exactly what you'd think (note it appears to only update at a 10min interval), while API requests will show you the `createSession` and other request volume.

![i

[2018-05-30 09:27] PacciniBruno commented on #192
Oh that's great :) I had no idea we could do that. Thanks!

[2018-05-30 18:11] walshie4 commented on #207
Currently seeing this cause the above style issue with `ARRAY<>` types, and leaving integers as strings.  Happening about 10-15 times per second in one of our APIs.

[2018-05-31 21:28] crwilcox commented on #183
@snehashah16 I have looked at the Java code you sent and compared it to the Node.js client. They look very similar
1) try to collect a PartialResultSet object
2) if there is a resume token, it is retryable
3) when it fails, if we have a resume token attempt to retry, otherwise fail.

I noticed that many of our responses come back without resume tokens when I simulate this. I start the request, tur

[2018-05-31 22:55] crwilcox commented on #198
Quick Update: We are still testing this branch and handling a few edge cases.

[2018-05-31 22:56] crwilcox commented on #207
Quick Update: I believe this may have been to do with the old implementation. We had more than one value formatter depending on branching. Once we merge the other fixes I am going to dig into this one.

[2018-05-31 22:58] crwilcox commented on #192
@callmehiphop , it seems like the PR attached to this is pretty heavily commented on. Is it possible to sort of summarize where we are at on this? My read is that we have a solution that resolves @walshie4 issues but would be breaking existing behavior?

[2018-06-01 13:31] vkedia commented on #183
In Java client, we buffer responses till we see a response with resume
token and then we yield all the bufferred rows to the user except if the
buffer is full in which case we will yield irrespective and mark the stream
as unretryable. This makea it very unlikely that we will not have a resume
token when the stream breaks. I believe the buffer size is 10 but pleasw
check in the code.

On Fri, Jun

[2018-06-01 14:17] stephenplusplus commented on #183
token and then we yield all the bufferred rows to the user except if the
buffer is full in which case we will yield irrespective and mark the stream
as unretryable.

We do all of that, with the exception of marking the stream as unretryable when the buffer is filled. We can add that, but #208 will have to merge first.

Yes, we use 10.

[2018-06-01 15:51] crwilcox commented on #205
Just noting this is on the radar. We are currently handling some of the other issues which were prioritized over this.

[2018-06-01 15:51] crwilcox commented on #202
Just noting this is on the radar. We are currently handling some of the other issues which were prioritized over this.

[2018-06-01 19:30] snehashah16 commented on #202
This bug is being tracked in the backend, and in the interim the recommendation is to ignore the error "outcome unknown" and retry the request.

[2018-06-01 19:32] JustinBeckwith commented on #202
@snehashah16 do you have a bug on another public issue tracker the customer can follow?  If there is no action item for this library, I'd prefer to not track it here :)

[2018-06-01 20:07] JustinBeckwith commented on #180
Greetings!   @bbransteitter & @walshie4 have y'all had a chance to try out this branch?  We're pretty sure we have it fixed, but we would love to make sure this works for you first :)

[2018-06-01 20:27] crwilcox commented on #183
@walshie4 we had a discussion offline with a few of us and are wondering if perhaps your rows are particularly large, or if this is related to a very large node count. If you could provide additional information it could prove helpful. Some things that may be interested:

- Size and shape of the data requested (total rows, columns in the rows, types of rows)
- number of nodes you have for spanner?

[2018-06-01 22:45] walshie4 commented on #183
I'm currently running with 10 Spanner nodes.  Haven't dug into which query is causing this issue (because the volume and impact of this bug is lesser than the others).

The data in this database is only about ~250mb of data currently, a mix of String, Int64, and ARRAY<String> values.  There is a main table with ~40k rows, with ~8 interleaved tables each containing at most a couple thousand rows in

[2018-06-01 22:47] walshie4 commented on #180
@JustinBeckwith I've been using the suggested fix (#208) in production for almost 10 days now.  Does seem to solve this issue.

However with the recent commits I now have an older version of the PR.  Is that branch in a candidate state I should try pulling in?

[2018-06-01 22:59] JustinBeckwith commented on #180
@crwilcox should be able to answer that :)

[2018-06-02 01:57] crwilcox commented on #180
Hey @walshie4, the branch is updated but what is pushed is stable/passing. We are at a place now where our existing tests all pass. The team still has to commit a few new tests to cover changes but then we plan to merge/release this.

[2018-06-02 01:58] crwilcox commented on #207
No status change on this, still in the queue.

[2018-06-02 01:58] crwilcox commented on #198
Branch has been updated as we have corrected some corner cases that regressed. As soon as we finish authoring some new tests this fix will be merged.

[2018-06-02 02:03] walshie4 commented on #180
@crwilcox thank you for the update, I'll update the version I'm using in my services and report back any observations.

[2018-06-04 10:43] callmehiphop commented on #192
@crwilcox I'll need @walshie4 to confirm, but I believe that is correct.

[2018-06-04 16:12] walshie4 commented on #192
That is correct, we've had this code running in production for some time and it resolves the issues we were seeing with the session pool.  The only issue I'm aware of with this code is an error which occurs when calling `close`.  From the looks of the error it should be an easy fix though, @anup-honey is aware of this error.  I'll work with him today to get this last issue closed out.

[2018-06-04 17:16] anup-honey commented on #192
@crwilcox
The initial commit was breaking existing behavior and Googlers did not want it. So, I have added support for all the functionality on top of new things. This way, it did not break any existing behavior. There is just a test case failure which only fails on cricle CI but not on my local machine. I believe it is more of a race condition. I will try to fix it soon.

[2018-06-04 22:18] #180 closed

[2018-06-04 23:02] crwilcox commented on #180
A patch release is published that includes this fix. https://www.npmjs.com/package/@google-cloud/spanner

[2018-06-04 23:02] crwilcox commented on #198
A patch release is published that includes this fix. https://www.npmjs.com/package/@google-cloud/spanner

[2018-06-05 01:00] crwilcox commented on #207
Hi @walshie4 , the newest version is released now. In doing the rework some duplicate codepaths were removed/simplified. Can you still reproduce this issue on the latest package on npm (1.4.2)?

[2018-06-05 01:01] crwilcox commented on #183
Thanks for the information on this last week @walshie4. We just wrapped up some of the other fixes you had asked for and are going to start looking into this.

Thanks again for your patience.

[2018-06-05 01:03] crwilcox commented on #202
@snehashah16, just following up on this again, is there an ETA for a fix on the backend of this? Should we harden retry on the client anyway?

[2018-06-05 18:20] crwilcox commented on #202
@JustinBeckwith adding a link to the back end issue: https://issuetracker.google.com/issues/90028517

[2018-06-05 22:10] crwilcox commented on #202
Just spoke with a member of Spanner, the suggestion is that the client be modified to handle this particular error by retrying. The backend will be updated as well but they still would like the client to understand how to retry these types of failures.

[2018-06-06 15:30] walshie4 commented on #205
Seeing this happen with a valid query as well, occasionally hangs seemingly returns a promise which never resolves.

The query is paging data out of an interleaved table 10,000 rows at a time.

I'm lowering the page size to see if this mitigates the issue.

[2018-06-06 15:59] walshie4 commented on #192
Is there somewhere I can track the progress on this?  Would inspire quite a bit more confidence in the crucial session management code in this library.

[2018-06-06 18:32] crwilcox commented on #183
I spent the last hour or so reviewing the code path for this. It seems a call to database.run is going to ultimately result in Spanner.requestStream being called

Ideally, GAPIC would manage retrying for these sort of failures. That being said, we may be able to modify this method to handle retrying to harden this.

https://github.com/googleapis/nodejs-spanner/blob/4bfb927029a1ecefd7c2ce096c188627

[2018-06-06 19:27] crwilcox commented on #192
Updated Java link since they reorganized the repository since that comment: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-spanner/src/test/java/com/google/cloud/spanner/SessionPoolStressTest.java#L205

[2018-06-06 21:42] crwilcox commented on #205
Thanks for more information @walshie4. I am trying to reproduce this. With the star expression it is very repeatable.

[code]

Further, I tried this with runSteam. it also called on('error' similar to run()
[code]

Can you provide further details on which function you are calling and which callback/promise you aren't seeing called?

[2018-06-06 21:53] walshie4 commented on #205
I'm doing a `db.run` call like your example above without providing a callback (as to receive a Promise).  The `.then` and `.catch` are never executed and the service stops in its tracks.

[2018-06-06 21:54] walshie4 commented on #205
To clarify, by this do you mean you _were_ able to reproduce?

[2018-06-06 22:02] crwilcox commented on #205
RE: 'able to reproduce: I mean that I also get it to tell me that is invalid for my spanner table.

thanks for letting me know how you are using the API. I can focus in a bit now on to the codepath that may be causing issues. I edited my comment to remove irrelevant details (the runstream example) and make my sample more closely reflect the way you are doing things.

I have also been trying a quer

[2018-06-06 23:02] #202 closed

[2018-06-06 23:12] crwilcox commented on #207
Since you have logging for this, can you report back if  `@google-cloud/spanner >= 1.4.2` fixes the issue?

[2018-06-07 00:20] crwilcox commented on #202
Fix released in https://www.npmjs.com/package/@google-cloud/spanner/v/1.4.3

[2018-06-07 05:58] walshie4 commented on #205
I'm currently seeing this with the same query, but without the `GROUP BY` clause.  See below:

[code]

The `LIMIT` was previously 10k, lowered it to 2k but the issue is still happening occasionally.  I'm going to bring it down to 500 to see if that gets around it.

[2018-06-07 06:01] walshie4 commented on #205
More details which could help: the table is interleaved on an interleaved table.
[code]

[2018-06-07 06:45] walshie4 commented on #207
Looks like `v1.4.2` solves the issue 👍

[2018-06-07 06:45] #207 closed

[2018-06-07 18:14] walshie4 commented on #205
Still happening with a limit of 500, lowering to 100.

[2018-06-07 22:00] crwilcox commented on #205
maybe it has to do with the interleaving. since for me I can't make it fail, have made the table rather large (a large number of reasonably sized rows) and limiting at 10k rows)

[2018-06-07 22:12] crwilcox commented on #205
I am running 400 copies of this (leveraging async.times). I am seeing 0 errors, and it is has been looping for a bit. Below is the code I am running. Basically I have it query a bunch of times and log errors. The table is interleaved in another table. It has a 4 part PK.

[code]

[2018-06-07 23:29] JustinBeckwith commented on #183
@stephenplusplus *gentle ping*

[2018-06-07 23:31] stephenplusplus commented on #183
I've been working on putting retry behavior into gax. That would handle retrying on pre-response errors, such as network failures.

[2018-06-08 12:19] stephenplusplus commented on #190
Just need some Spanner-y input on this PR: https://github.com/googleapis/nodejs-spanner/pull/16

[2018-06-08 19:36] stephenplusplus commented on #183
PR: https://github.com/googleapis/gax-nodejs/pull/241

[2018-06-09 21:02] walshie4 commented on #202
Still seeing this issue occasionally on `v1.4.3`, although they're now reported in a slightly different form with error code 4 and the message `Deadline for Transaction exceeded.`.

[2018-06-09 21:32] JustinBeckwith commented on #202
@walshie4 Apologies.  Thanks for reporting.  Would you mind opening a new issue with the call stack?  Also priority wise, is this more important than the other issues?

[2018-06-09 22:58] walshie4 opened #215 "Error 8: CountFinalAggregator ran out of memory during aggregation"
### Environment details

  - OS: CentOS
  - Node.js version: v8.9.4
  - npm version: v5.10.0
  - `@google-cloud/spanner` version: v1.4.3

#### Steps to reproduce

  1. ???
  2. ???

When running the following query
[code]
with a limit of 5000 paging though a table I sometimes get the following error:

[code]

The query works after a few retries.

[2018-06-09 23:04] walshie4 commented on #202
@JustinBeckwith Sure thing.  If the other issue you're referring to is issue #183, that is more important.

[2018-06-10 00:31] walshie4 opened #216 "Error 4: Transaction outcome unknown"
#### Environment details

  - OS: CentOS
  - Node.js version: v8.9.4
  - npm version: v5.10.0
  - `@google-cloud/spanner` version: v1.4.3

#### Steps to reproduce

  1. ???
  2. ???

Attempting an insert in the same way as described here: https://github.com/googleapis/nodejs-spanner/issues/202#issuecomment-391197402

Code causing the issue for us:
[code]

I've added better logging to see if I can

[2018-06-11 04:34] eric4545 opened #217 "Spanner transaction.commit() didn't resolve/reject promise"
#### Environment details

  - OS: macOS 10.13.4 /
  - Node.js version: 8.11.1
  - npm version: 5.6.0
  - `@google-cloud/spanner` version: 1.4.3

#### Steps to reproduce

  1. ???
  2. ???

Sometimes `await transcation.commit()` didnt resolve/reject promise over 120s. But the error not happen everytime as we cant reproduce the error, but when error happened we can see `Error`[1] of `Operations per

[2018-06-11 17:21] callmehiphop commented on #217
Hi @eric4545, would you be able to provide some code that reproduces this issue?

[2018-06-11 17:23] stephenplusplus commented on #183
@walshie4 @Duncan00 would you please give my branch a test:

[code]

This should retry on these types of errors.

[2018-06-11 17:31] crwilcox commented on #215
can you provided an idea of the size of some of these variables?
- queryLimit
- queryOffset
- size of table before limits?
- what is a row sizewise?

Have you tried running this same query from console.cloud.google.com? Does it succeed there?

[2018-06-11 17:32] crwilcox commented on #216
How large is this transaction? Is this a single row update?

[2018-06-11 18:08] walshie4 commented on #216
Yes it is a single row.

[2018-06-11 18:23] crwilcox commented on #216
Alright. I can't imagine a single row being so big that it would exceed deadlines. Just to check assumptions I may have made, the intent of your code is the following:

- Take a row `{ storeId: 'storeidval', field1: 'field1val', ..., fieldn: 'fieldnval' }`
- commit with additional column: `{ storeId: 'storeidval', field1: 'field1val', ..., fieldn: 'fieldnval', storeShardId: 'storeidval'}`

Could y

[2018-06-11 18:28] walshie4 commented on #215
The queryLimit is consistently 5,000.

The queryOffset starts at 0 and then walks up in increments of 5,000 with the max value being ~40,000.

Not sure what you mean here.

The stores table schema is made of the following types
[code]
and the coupons table...
[code]

[2018-06-11 18:30] walshie4 commented on #217
#116 & #205 potentially related

[2018-06-11 18:47] walshie4 commented on #216
`getSpannerShardId` is a synchronous function.  Your understanding is of the flow is correct.  The failing write is for a small row on a table interleaved 2 levels down.

[code]

When the original fix for this issue was released this issue morphed from what you see described in #202 to the current issue.  It now appears I get this error as the error param of my `spanner.runTransaction` call.

Per

[2018-06-11 23:29] walshie4 commented on #216
I'll add some more logging when I get a chance to see if I can gather some more detailed info on the insert in question causing the issue.

[2018-06-12 18:17] snehashah16 commented on #215
@walshie4 - have u used tried Profiling the query & finding possible optimizations for the query ?

[2018-06-12 18:30] snehashah16 commented on #215
My first impression is:
- if u run this query multiple times (with different offsets), the server is scanning the full table to compute this (`SELECT storeId, COUNT(*) AS couponCount FROM storeDeal GROUP BY storeId`) and eventually running out of memory.

I would recommend saving this result and avoid re-computation.

[2018-06-12 19:05] walshie4 commented on #215
We do save this result.  The task which runs this query does so as a kubernetes cron job so that the production APIs don't need to make this query at request time.  We make this query once every 10 minutes.

[2018-06-12 19:10] walshie4 commented on #215
Oh my bad I just realized I mis-read what you had said.  We can refactor to avoid re-computing the inner query.

[2018-06-13 22:17] JustinBeckwith opened #222 "Drop support for node.js 4.x"
This should be a semver major bump.

[2018-06-13 22:18] JustinBeckwith opened #223 "Convert to TypeScript"
Currently blocked on support TypeScript generation in GAPIC.

[2018-06-13 22:18] JustinBeckwith opened #224 "Switch from var to let/const"

[2018-06-13 22:19] JustinBeckwith opened #225 "Use es6 classes"
Where possible we should use es classes instead of prototypes.

[2018-06-13 23:45] #222 closed

[2018-06-15 02:56] crwilcox opened #230 "update package.json to specify node >= 6"
Node.js 4.0 is EOL as of end of month and some of the dependencies of this library no longer work on node4. We should update package.json to be 6+

[2018-06-15 17:13] crwilcox commented on #192
We believe the merge of #194 will resolve this issue. @anup-honey  and @callmehiphop  have been actively working to get that into a mergeable state.

[2018-06-15 17:15] crwilcox commented on #183
Since we haven't heard much in the way of @stephenplusplus fix we are going to proceed to PR and merge it in. Thanks!

[2018-06-18 17:23] walshie4 opened #234 "Error 13 INTERNAL: GOAWAY received"
#### Environment details

  - OS: CentOS
  - Node.js version: v8.9.4
  - npm version: v5.10.0
  - `@google-cloud/spanner` version: v1.4.3

#### Steps to reproduce

  1. ???
  2. ???

Have an API which is using this library a lot for both read and write usage.  Not sure what is currently causing this but will dig in more if needed.  Getting a few hundred of these per day, seem to come in bursts.

S

[2018-06-18 21:22] stephenplusplus commented on #234
Have you been using this copy of Spanner? https://github.com/googleapis/nodejs-spanner/issues/183#issuecomment-396320012

[2018-06-18 21:27] stephenplusplus commented on #234
I believe that should retry on this type of error-- when you have the chance, can you give it a try?

[2018-06-19 17:31] crwilcox commented on #183
@stephenplusplus has merged his fix for gax-nodejs

[2018-06-20 01:51] Duncan00 commented on #183
Thanks. We missed the chance to test it~
Then the next step would be upgrading to use latest `google-gax` and fix the breaking change of instantiate introduced in `0.17.0`
https://github.com/googleapis/gax-nodejs/releases
Please help on it~ Thanks~

[2018-06-20 02:00] Duncan00 commented on #183
If we understand correctly, many different kinds of random errors we are getting in below image will be resolved by this retry logic.
<img width="1545" alt="screen shot 2018-05-25 at 10 30 41 am 3" src="https://user-images.githubusercontent.com/2004375/41633269-956f2566-7470-11e8-94d0-1059261111d4.png">

[2018-06-20 02:18] crwilcox commented on #183
@Duncan00, we are currently working to release a version of this lib (and many other nodejs google cloud libraries) to work with the latest gax release. We appreciate your patience. In the meantime, you can install an older version of `gax-nodejs`.

[2018-06-20 02:48] eric4545 commented on #217
hi @callmehiphop, i still trying to create a example to reproduce the problem, but so far i cant reproduce the same error in our project. Is there any internal fix of the spanner?

[2018-06-20 05:37] Duncan00 commented on #183
Thanks.
But the fix for retry logic is exactly in `0.17.0`, so we need to wait for this upgrade to resolve this issue.

[2018-06-21 09:12] eric4545 commented on #217
![image](https://user-images.githubusercontent.com/6886275/41709637-41948e2a-7576-11e8-8ff0-4ea63f07556c.png)
Just find this maybe is related?

[2018-06-21 19:07] eric4545 commented on #217
@walshie4 I think the cause is we promisifiy the `runTranscation`, we thought it is a callback function, but now we removed the promisify for `runTransaction` and will going to test it more.

And yes we can reproduce when running the script. As there are more than one `runTransaction` and `commit` together, and `runTranscation` will retry exec `runFn` if some error occurs, but in the script we pro

[2018-06-21 22:10] callmehiphop opened #236 "feature: allow users to provide custom pool class"
I think no one is a stranger to the fact that we've been seeing a fair amount of chatter around issues with our pooling implementation. Its come to my attention that some teams might want to opt out of certain features of our Pooling class or in some cases just have a finer level of control. I would like to propose accepting a Pool constructor that could be used in place of our Pooling class.

I'v

[2018-06-21 22:11] callmehiphop commented on #236
/cc @googleapis/yoshi-nodejs @anup-honey @walshie4

[2018-06-21 23:16] gcochard opened #237 "Spanner has an uncaught exception in an async function"
#### Environment details

  - OS: Debian 9
  - Node.js version: 10.5.0
  - npm version: 6.1.0
  - `@google-cloud/spanner` version: 1.5.0

#### Steps to reproduce

  1. Call insert with an undefined value somewhere in the row data
  2. Try to insert it
  3. Expect error to be passed to callback, but it is thrown and uncaught instead

[code]

Sample code could look like this:

[code]

Resolution req

[2018-06-24 00:56] majelbstoat opened #241 "Support or documentation for transaction commit timestamp"
Because Spanner doesn't support `RETURNING` (I wish it did!), when creating a record using `Spanner.COMMIT_TIMESTAMP`, I want to replace that placeholder with the timestamp of the commit before returning my created object to the client.

In the golang library, the commited timestamp is returned as the result of the transaction:

[code]

However, there is currently either no way to do this in the n

[2018-06-25 14:56] callmehiphop commented on #241
I believe this is actually possible, but I agree we could be doing a better job of documenting it.

[code]

[2018-06-25 15:05] majelbstoat commented on #241
oh, cool. let me check that out, thanks :)

[2018-06-25 17:54] crwilcox commented on #234
@walshie4 , have you had a chance to try @stephenplusplus change?

[2018-06-25 17:54] crwilcox commented on #216
@walshie4 , any luck at finding anything?

[2018-06-25 17:55] crwilcox commented on #215
@walshie4 , just checking in to see if any progress has been made on this.

[2018-06-25 17:57] crwilcox commented on #205
Just checking in on this. I don't have a repro for this at this time so this issue is pending more information.

[2018-06-25 17:58] crwilcox commented on #183
@stephenplusplus , do we know if this issue is resolved?

[2018-06-25 17:59] stephenplusplus commented on #183
We need a regen of the GAPIC that has been updated to use 0.17.0 of google-gax, which includes the fix for this.

[2018-06-25 18:05] JustinBeckwith commented on #183
@crwilcox can you add a synth.py to the repo, run it, up the version of google-gax?

[2018-06-25 21:42] #183 closed

[2018-06-26 15:50] majelbstoat opened #249 "Programming model for runTransaction is hard to use with promises."
For single operations, using promises is straightforward:

[code]

However, the story becomes a lot more complicated with `Database.runTransaction`. It takes a callback, and doesn't return a promise.

I have a use-case that involves reading from the database, making a request to a remote service, then conditionally writing a row. Finally, I need to do some post-processing on the result. A read-wri

[2018-06-26 18:30] walshie4 commented on #216
Nothing of value, I have examples of the rows attempting to be inserted but there is nothing special about them.  Here's an example (field names have been replaced with types)

[code]

The only weirdness I see is the int64 values are sometimes strings, sometimes JS ints.  Not sure how this would cause an issue like we've been seeing though.

[2018-06-26 23:58] callmehiphop commented on #249
This has been suggested before, but truthfully I can't remember what the reasoning was for shooting it down. The only tricky thing I see with this proposal would be continuing support for a callback mode.

@stephenplusplus @googleapis/yoshi-nodejs thoughts?

[2018-06-27 00:18] stephenplusplus commented on #249
I recall we had promise support and had to ditch it because we can't replay a promise chain when retrying a transaction.

[2018-06-27 00:57] walshie4 commented on #249
^ Yeah this is the blocker I've run into when going down this path.  This is something we're actively working on creating a cleaner, less error-prone, way to do that fits a bit better with promise based codebases.

I'll report back with any findings, our current idea is to use a using/disposer pattern.

http://bluebirdjs.com/docs/api/promise.using.html

[2018-06-27 06:52] callmehiphop commented on #249
I think what @majelbstoat is proposing is not trying to keep track of the entire promise chain, but allow the callback to return a promise.

[code]

I know this has been pitched before and shot down

[2018-06-27 11:40] stephenplusplus commented on #249
Hmm, could you see if you can find those discussions?

[2018-06-27 13:49] eric4545 commented on #216
Hi there, we also encounter the same error randomly. We got message `Deadline for Transaction exceeded.` and `Aborted due to transient fault`. But according to our APM our request did not take longer than 10s, so didn't look like it exceed the deadline.

Our current logging didn;t log it in detail, we will add better logging for this error.

[2018-06-27 14:04] eric4545 commented on #249
We also get same pain, but we used follow method to kinda make it compatible with async/await .

[code]

[2018-06-27 14:05] majelbstoat commented on #249
@callmehiphop: Yeah, I understand you might want to re-run that callback multiple times, which makes sense (and which I'm glad of!). But when it finally succeeds, getting the final result of it back would be very helpful.

[2018-06-27 14:14] majelbstoat commented on #249
@eric4545, thank you for sharing your code :) do you ever have problems with that if the inner callback runs multiple times due to retries or something? Like promise resolved after rejected, or similar?

[2018-06-27 14:29] eric4545 commented on #249
@majelbstoat, inner callback you mean the `runFn` of `database.runTransaction` ?

[2018-06-27 14:38] majelbstoat commented on #249
@eric4545 yes. As I understand it, the spanner client will under certain circumstances run that callback more than once. (In case of transaction conflicts, IIRC?)

[2018-06-27 14:41] eric4545 commented on #249
Yes, we did some load test to our system, and our APM show that the `runFn` have called 26 times.

You are right, the spanner client will exec `runFn` again and again as long it is retry-able error.

[2018-06-27 21:32] callmehiphop commented on #249
Typically we only retry `runTransaction` calls for `ABORT` errors - these usually happen when one or more transactions perform conflicting operations. We also expose a `getTransaction` method that does not retry, you could use this method to either:

- Not retry aborted errors
- Create a promisified version of `runTransaction`

[code]

[2018-06-27 21:44] majelbstoat commented on #249
That's really helpful, thanks, @callmehiphop.

[2018-06-28 02:18] majelbstoat commented on #249
If it's helpful to anyone else struggling with this, here's a Typescriptified wrapper:
[code]

(This uses typescript types that i defined and submitted to DefinitelyTyped. Currently failing some of their strict lint cases, and probably slightly wrong in one or two places, but mostly usable anyway. Gist of them here: https://gist.github.com/majelbstoat/cfe80d665baec8631d25f10a7b23e917)

[2018-06-29 18:13] majelbstoat commented on #241
Can confirm that this works both for callback, and promise-style. Thanks!

[2018-07-01 22:29] walshie4 commented on #249
Trying to make a version of this without retries but am finding some conflicting info on how to handle errors from `commit`.

I remember being told on a call with the Spanner team that we should be calling `.end()` after `.commit()` if we receive an error from the `.commit()` call.

Is this correct or is the usage described here what I should follow [0]?

[0] https://github.com/googleapis/nodejs-s

[2018-07-01 22:50] walshie4 commented on #249
Here's what we've cooked up thus far on this front, requires Bluebird:

We're calling `rollback()` in case a non-spanner related error occurs in the transaction.  I think I remember this function being referred to as safe to call in this way.  `.end()` call refers to my previous question if `commit()` fails.  Users of this function could also bail out manually by calling `dbTxn.rollback()` and ret

[2018-07-02 16:32] callmehiphop commented on #249
@walshie4 you should call `end()` after `commit()` if you're not retrying (if there's an error). `end()` will release the session from that transaction.

[2018-07-02 22:01] JustinBeckwith opened #255 "The system-tests are broken"
Just noticed the nightly looks to be broken:
https://circleci.com/gh/googleapis/nodejs-spanner/5828

Getting similar errors when trying to run the system tests locally.

[2018-07-03 02:56] majelbstoat commented on #249
@callmehiphop The documentation says `end()` should only be called in a readonly transaction. Is that incorrect? https://cloud.google.com/nodejs/docs/reference/spanner/1.4.x/Transaction#end

[2018-07-03 20:01] callmehiphop commented on #249
@majelbstoat generally that is true. All `end()` does is release the associated session back into the session pool. We basically assume that whenever `commit()` or `rollback()` are called, that you are done with the Transaction. In the event that either of those calls fail, we don't call `end()` in case you start making more requests.

[2018-07-05 14:32] stephenplusplus commented on #255
Duplicate: https://github.com/googleapis/nodejs-spanner/issues/190

[2018-07-05 14:32] #255 closed

[2018-07-09 18:46] callmehiphop commented on #249
The takeaway is that our users want a Promise friendly version of `runTransaction`. I think our best plan of action would be to wait and follow the changes outlined in https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2556#issuecomment-402016599 - which will make supporting this feature much easier.

[2018-07-11 02:32] walshie4 commented on #249
A bit confused by this.  What do you mean by `in case you start making more requests`?

Would that include the case of the transaction being retried automatically?

Related to that, if `.end()` were called inside a transaction after a transient `.commit()` or `.rollback()` error was thrown would the retry try to acquire a new session or because the one it was holding was released would fail with a

[2018-07-11 21:50] callmehiphop commented on #249
If for some reason `commit` or `rollback` throw an error (this includes us retrying internally and it still failing) we don't release the session. I think the main use case is to allow users to try and rollback on a failed commit. @snehashah16 should we always call end here?

We don't throw an error until after we've retried internally.

Assuming the callback for rollback/commit was called, we've

[2018-07-12 02:44] Duncan00 commented on #216
Is this issue also related the retry mechanism?
https://issuetracker.google.com/issues/111151134
https://cloud.google.com/spanner/docs/transactions#rw_transaction_interface

We got the error quite frequently. It is impossible to use transaction feature with this error.

[2018-07-17 02:55] #217 closed

[2018-07-17 20:21] danoscarmike commented on #205
Hi @walshie4, are you still experiencing this issue? Looks like last update was that we needed more info to reproduce. Can you help with that?

[2018-07-17 20:25] danoscarmike commented on #189
@callmehiphop are you looking at implementing this?
@JustinBeckwith as a feature request is this truly a P1?

[2018-07-17 21:19] #205 closed

[2018-07-19 15:58] sourcec0de commented on #198
@crwilcox I am still encountering this exact same issue using 1.5.0.

[2018-07-19 16:57] stephenplusplus commented on #198
@sourcec0de Thanks for reporting. Do you have any code, and/or information about the data and query, that we could use to try to reproduce?

[2018-07-19 17:19] sourcec0de commented on #198
@stephenplusplus I have been banging my head on the wall trying to resolve this issue for a few days. I honestly thought it may have been a conflict with other installations of `@google-cloud/*` libraries.

I've been using `babel-node` to take advantage of module's until node supports it out of the box.
After installing and upgrading all my `@google-cloud` libraries I found out that `babel-node` w

[2018-07-19 17:20] #198 closed

[2018-07-19 20:49] lmnz opened #268 "deep-extend@0.4.2 security vulnerability"
#### Environment details

  - OS: macOS High Sierra v10.13.3
  - Node.js version: v8.9.4
  - npm version: v5.6.0
  - `@google-cloud/spanner` version: 1.5.0

#### Steps to reproduce

https://nodesecurity.io/advisories/612

path to package:
`@google-cloud/spanner@1.5.0 > google-gax@0.16.1 > grpc@1.12.4 > node-pre-gyp@0.10.0 > rc@1.2.6 > deep-extend@0.4.2`

#### Suggested fix

  - upgrade to deep-ext

[2018-07-19 21:40] JustinBeckwith commented on #268
This is fixed in master, we just need to ship 2.0.  Blocked on #245.

[2018-07-20 01:17] walshie4 commented on #249
Made a gist here [0] with a sample runTransaction setup to help explain this in the future, would really appreciate it if @callmehiphop @stephenplusplus or someone else could chime in if this is correct.

The main thing I'm unsure of is if I need to call `rollback` if `commit` fails.

On that note regarding your answer above:

Can you elaborate here?  How could one rollback a failed commit?  If it

[2018-07-20 19:31] callmehiphop commented on #249
@walshie4 currently that is correct, there would be nothing to rollback, however my understanding is that soon there will be other asynchronous ways to update/insert data besides commit.

[2018-07-20 21:51] majelbstoat commented on #249
"soon there will be other asynchronous ways to update/insert data besides commit"

that is intriguing 🤔

[2018-07-20 21:53] walshie4 commented on #249
Yeah for sure, @callmehiphop do you have any other details or general examples in the space you could point to for more details about this future functionality?

Also less related will either you or @stephenplusplus be at Google Next next week in SF?

[2018-07-21 01:06] majelbstoat commented on #249
Just to update this, you actually get (further) errors if you're trying to rollback after an error on commit():

`Cannot rollback a transaction after Commit() has been called`

It does make it a bit tricky to write a single general-purpose wrapper for a transaction where you don't know if commit was called or not (if the error happened earlier in the transaction, like a not found error or somethin

[2018-07-23 19:58] callmehiphop commented on #249
@walshie4 I've probably already said too much! And I wish, but I am unable to attend. :frowning:

@majelbstoat I'm not sure if the client library is the right place to make a change like that, but we could add a `committed` property to the Transaction object that indicates whether or not a commit occurred, making it easier to determine. Thoughts?

[2018-07-26 04:18] eric4545 commented on #216
Trying reproduce the error in high throughput, spanner server seems didnt response any `RETRY_INFO_KEY` [1] and the client always return `DeadlineError` when cannot retry [2].

![image](https://user-images.githubusercontent.com/6886275/43241371-9e1ff018-90cd-11e8-9ade-33e1f2df96f8.png)

[1]: https://github.com/googleapis/nodejs-spanner/blob/master/src/transaction.js#L792
[2]: https://github.com/go

[2018-07-31 15:55] Chipintoza commented on #173
@callmehiphop - Hello
i have same issue

[code]

when i do 2 parallel async select

[code]

can you look this asap.
Thanks

Spanner version is 1.5.0

[2018-07-31 15:57] Chipintoza commented on #189
any updates here?

[2018-07-31 16:06] Chipintoza commented on #173
@callmehiphop

if i change with

` async.waterfall(`

it works.
but same error heppan in many places

[2018-07-31 20:56] #215 closed

[2018-07-31 21:51] callmehiphop commented on #173
@Chipintoza I wrote a pretty minimal test trying to reproduce this

[code]

But I'm unable to reproduce doing so. Is there anything special about `options.database`? Is it a custom wrapper, etc.

[2018-08-01 14:58] Chipintoza commented on #173
@callmehiphop i add you in my projects
you can look at:  [router.get('/sign-out/:SessionID?', (req, res) => {](https://github.com/GSS-LLC/accounts.gss.ge/blob/e815a6fd195ec3d2157d5375c2c328b5123ecb16/server/routes.js#L618)

it use from another project:
[dbUtils.getSpannerInstance](https://github.com/GSS-LLC/database-utils.gss.ge/blob/b3e72dc81036409ff6a64a967e6d9974a851a131/dbUtils.js#L756)
and
[d

[2018-08-01 15:01] Chipintoza commented on #173
@callmehiphop
i forck @gss-llc/spanner - this is same version 1.5.0
just i add additional retiring. becouse  of [issue 189](https://github.com/googleapis/nodejs-spanner/issues/189)

[2018-08-02 17:01] crwilcox commented on #192
@walshie4 @anupbaldawa, @callmehiphop has put a good deal of time into trying to repro this. We had tried a suggestion to try offset queries of very large (50M) numbers. Though when we did that with code we wrote, we again saw now session leaks.

While we can't be sure as we haven't seen your code, we think there is a possibility the code as currently written may not be tearing down database insta

[2018-08-03 09:25] Chipintoza commented on #173
@callmehiphop any updates here?

[2018-08-03 19:12] Chipintoza commented on #173
this is a full stack:
[code]
error starting from: database.js:1267:7
in dbUtils i change two methods by:
[code]

But same happens...

[2018-08-03 19:59] callmehiphop commented on #173
@Chipintoza thanks for the full trace, its been helpful. However I'm still having some difficulties reproducing the issue. I noticed that you're using a custom install of Spanner, would that be the one found at https://github.com/GSS-LLC/nodejs-spanner?

[2018-08-04 08:24] Chipintoza commented on #173
@callmehiphop Yes. it is same as source version 1.5.0. you can look a branch [My Fixes - additional retries](https://github.com/GSS-LLC/nodejs-spanner/commit/fe64363e813ad04cd7d8de60a85d6bf5483128bd) As i mention i just add additional retiring because of [issue 189](https://github.com/googleapis/nodejs-spanner/issues/189)

When I change with [https://github.com/googleapis/nodejs-spanner](https://g

[2018-08-04 16:50] Chipintoza commented on #173
@callmehiphop
i have default sessions_pool options:

[code]
i change:
[code]

log was:

[code]

I have no time to understand session pool full.
Hope all this information helps you, and you can fix this issue.

Thank you.

[2018-08-09 14:39] Chipintoza commented on #173
@callmehiphop @vkedia  - any updates here? can you reopen this issue?

[2018-08-09 15:03] callmehiphop commented on #173
@Chipintoza I still haven't been able to reproduce, but I have a PR open for some related that might help resolve it. If you could test #243 that would be awesome!

[2018-08-09 20:06] Chipintoza commented on #173
@callmehiphop i test and it works!

[2018-08-15 17:48] crwilcox opened #296 "table.delete may be confusing for users"
`Table.prototype.delete` results in a `DROP TABLE` operation on the database.
Here is a quick overview of the surface:
[code]

It may be worth considering moving the functionality of `delete` to a new name, such as `deleteTable`, `drop`, or `dropTable` to make it clear this isn't an operation to delete rows but the table. Other non qualified operations (`insert`, `update`, etc) are on the row so i

[2018-08-15 18:00] crwilcox commented on #296
Also, `Database.prototype.delete` will delete the database, so we are consistent with this. On `Database`, `createTable` is the operation to make a table.

I propose the following

`Table.delete` => `Table.drop`
`Database.delete` => `Database.drop`

Another client, Python uses the terminology `drop` as it matches the underlying operation. This would avoid confusion with row deletion methods.

[2018-08-15 18:27] wyardley commented on #296
What if the rows array is empty - would that evaluate differently from `table.delete()`? Either way, this seems kind of confusing and risky.

I can see the point about it being consistent with other libraries / services, but on the other hand, from the standpoint of most people who work with databases, I think `drop()` is a little more conventional? The risk of deleting a table when you're trying

[2018-08-15 18:33] stephenplusplus commented on #296
My first thought would be, that should throw an error.

Agree-- we should first be conventional with these types of users, rather than general users of our other libraries. I think we could still add the `drop()` method to support the familiar language.

My issue here is the backwards hierarchy:

[code]

On the other hand, `deleteTable()` could exist on the database instance:

[code]

I believe th

[2018-08-15 19:54] dsquier commented on #296
I agree with adding a `.drop` method.

This is the standard vocabulary used in other relational databases and provides a clear delineation between the DML `DELETE` statements and DDL `DROP` statements.

Additionally, this has been part of the [SQL standard](http://web.cecs.pdx.edu/~len/sql1999.pdf) for several decades.

Is there a reason Google is not modeling Spanner SQL syntax from this?

[2018-08-15 23:51] crwilcox commented on #296
One reason to incorporate @stephenplusplus recommendation is it would allow for the existing code to continue to function as intended, while guarding against people who call `delete(rows)` meaning to call `deleteRows(rows)`.

If this work is done it will involve deprecating a method and adding a new one and in a future release removing that method. So there could be value in guarding the `delete`

[2018-08-22 16:25] JustinBeckwith opened #299 "Investigate Node.js 10 failures"
The nightly unit tests started failing when node.js 10.9 was released :(
https://circleci.com/gh/googleapis/nodejs-spanner/6770

We need to identify the root cause, and see if this is an issue with node.js or with our library.

[2018-08-22 18:52] #299 closed

[2018-08-24 02:22] axot opened #305 "Cannot read property `type` of undefined"
We recently got an error shows bellow,

[code]

`session-pool.js`
[code]

At line 647, does this error happens when the length of this.reads_ is zero, I found current master branch's `session-pool.js` was refactored, we are using 1.4.x now. Hope this could be fixed soon.

Thank you.

[2018-08-24 16:23] JustinBeckwith opened #307 "Investigate nightly test failures"
The nightly system and sample tests are failing:
https://circleci.com/gh/googleapis/workflows/nodejs-spanner

[2018-08-24 21:04] crwilcox commented on #216
@eric4545 , the logic for retrying a transaction requires the following be true
1) the error code was either a ABORTED or UNKNOWN
2) the returned error contained a retry info key.
3) we have not exceeded the timeout allowed

If any of those aren't true, the transaction will end. In the cases where it was a retryable error code but it exceed the allowable time, the returned error is modified to be

[2018-08-24 21:10] crwilcox commented on #216
@Duncan00 the retry mechanism only retries on ABORTED and UNKNOWN because we consider those retry-able error codes. Some of the error codes likely wouldn't benefit from being retried.

If you wanted to retry more aggressively you could always modify the transaction's `isRetryableErrorCode_(errCode)` to include more error conditions on which retry is allowed.

[2018-08-27 06:45] eric4545 opened #311 "p-retry is accept function not promise"
`runTransactionAsync` is passing Promise instead of function to `p-retry` which will lead to [resolve](https://github.com/sindresorhus/p-retry/blob/master/index.js#L33) `1` immediately.

https://github.com/googleapis/nodejs-spanner/blob/ce8831c259f0ef84165d15adfb0e15c01eaa7c2b/src/database.js#L1485-L1496

[2018-08-28 16:04] druman55 commented on #192
We are using the Node.js Spanner library, 2.0.0 and having a relevant problem to the discussion here.

One of our users is processing a record import that's causing a lot of create/update commands to be run, and we're running out of sessions.  We have 3 spanner nodes, and yesterday we were hitting the 30K session limit - today we were able to process it, squeaking by at ~25K sessions.

The API's a

[2018-08-28 19:48] #311 closed

[2018-08-28 20:49] druman55 commented on #192
Here's another screenshot from later in the day.  As you can see, at about 4:18 my co-worker started an import process.  Our Create and Delete Session logs track to the Query Executions (Streaming SQL) exacty (which makes sense because we open, query, and close the connection) and yet our Sessions just continue to sky-rocket.

We're at about 500 Queries per minute - why do we have 6,000 sessions?

[2018-08-29 19:44] stephenplusplus commented on #305
@callmehiphop was this fixed?

[2018-08-31 17:50] crwilcox commented on #192
Thanks @druman55 and @alexliffick for providing some additional information!

[2018-09-10 21:37] splawndive opened #324 "Write parent row with interleaved child row within same transaction"
Hi, I'd like some clarification on the docs posted here https://cloud.google.com/spanner/docs/transactions#rw_transaction_semantics

[code]

Does this mean that I'm unable to both write a row to a parent table, and a child row which interleaves with that row within the same transaction?
In the program that I'm writing, using the following steps
1. write one row to the parent table using `transacti

[2018-09-11 00:16] stephenplusplus commented on #237
@JustinBeckwith @snehashah16 and @gcochard seem like the best to make these calls.

[2018-09-11 03:02] eric4545 opened #325 "spanner SDK is mixing the callback(err) and throw error will cause unhandled promise rejection"
#### Environment details

  - OS: COS
  - Node.js version: 8.11.1
  - yarn version: 1.9.4
  - `@google-cloud/spanner` version: 2.0.0

#### Steps to reproduce

  1. `transaction.end` called
  2. `SessionPool.release` throw `ReleaseError`
https://github.com/googleapis/nodejs-spanner/blob/c5500c7fb2d063bff80fe38589f7adcaad1b3645/src/session-pool.js#L339-L342
  3. `transaction.end` didn't wrap with tr

[2018-09-11 05:10] teddychan commented on #324
@splawndive can you provide your code here and maybe we can help.
We did the same thing without this error.

[2018-09-11 08:01] Duncan00 commented on #234
We start getting more of this errors currently, after upgrading to use **@google-cloud/spanner** client **2.0.0**.

**Environment details**
- OS: COS
- Node.js version: 8.11.1
- yarn version: 1.9.4
- @google-cloud/spanner version: 2.0.0

[2018-09-12 15:03] stephenplusplus commented on #325
I'd like to see if @callmehiphop could chime in on this one.

[2018-09-12 22:57] splawndive commented on #324
hey thanks for the reply

sorry for the slow response, but I actually ended up being able to work through this one myself.  the issue ended up just being some wonkiness with the IDs i was using/passing around within my application, not within spanner itself.

[2018-09-12 22:57] #324 closed

[2018-09-13 01:01] DominicKramer opened #326 "exists() throws Error for non-existent items"
I might be doing something wrong, but both `await instance.exists()` and `await database.exists()` are throwing errors if the instance or database in question do not exist.  As a result, it seems I have to use the following code to check for existence which is less than ideal:
[code]

[2018-09-14 03:18] hans-lizihan commented on #216
@crwilcox the following code could easily reproduce the deadline transaction exceeded error, please help to check:

[code]

[2018-09-14 06:19] eric4545 commented on #216
@crwilcox When this error throw there is no retry info key in the metadata, i tried the same flow using golang, so far no error occurs.

https://gist.github.com/eric4545/c514128a625172cf5c6969ae74cd3f83

[2018-09-14 19:55] JustinBeckwith commented on #224
Resolved in #283

[2018-09-14 19:55] #224 closed

[2018-09-14 20:00] JustinBeckwith commented on #307
Covered in #190

[2018-09-14 20:00] #307 closed

[2018-09-14 20:00] JustinBeckwith commented on #225
Fixed in #290

[2018-09-14 20:00] #225 closed

[2018-09-14 20:02] JustinBeckwith commented on #22
👋 @jsimonweb is this something you could take a look at?

[2018-09-15 00:11] stephenplusplus commented on #190
Does Circle have a `GCLOUD_PROJECT` env var set to `long-door-651`?

[2018-09-16 05:29] hans-lizihan commented on #216
same script won't trigger any errors in ruby sdk as well. (correct my ruby code if i was wrong)

[code]

[2018-09-17 17:53] JustinBeckwith commented on #190
It looks like they don't.  @kinwa91 I thought this was a change you made all up in the Circle CI config?

[2018-09-17 19:29] kinwa91 commented on #190
After fixing the GCLOUD_PROJECT env var, we still have a system-test failure:

https://circleci.com/gh/googleapis/nodejs-spanner/7498

[2018-09-17 19:29] kinwa91 commented on #190
<img width="1298" alt="screen shot 2018-09-17 at 12 28 20 pm" src="https://user-images.githubusercontent.com/4001432/45645466-5f714980-ba75-11e8-9b02-d513978a1e9e.png">

[2018-09-17 19:30] kinwa91 commented on #190
cc @stephenplusplus

[2018-09-18 10:57] dsteiner-broadsoft opened #332 "Access field types in query response"
It seems as all the query responses are wrapped with the PartialResultStream and formatting of the response is being done there while making the field with their types inaccessible

https://github.com/googleapis/nodejs-spanner/blob/master/src/partial-result-stream.js#L79

Though it would be helpful to be able to get access to the metadata for each column's type. The only way I can see right now to

[2018-09-19 22:36] allenwang7 opened #336 "deleteRows transaction not atomic"
#### Environment details

  - OS: mac 10.13.6
  - Node.js version: 8.11
  - npm version: 5.6.0
  - `@google-cloud/spanner` version: 2.0.0

#### Steps to reproduce

  1. ???
  2. ???

https://github.com/googleapis/nodejs-spanner/blob/2b8cddad7c2ace98431286be7320fc21c2534f7a/src/transaction-request.js#L271-L301

Performed that command up above. I tried to delete around 8000 rows, each having multipl

[2018-09-24 18:16] crwilcox commented on #336
@allenwang7, could you share the code fragment which caused this to happen? I imagine it resembles the sample code in the docstring, but I want to be sure I understand how this occurred.

[2018-09-24 20:36] snehashah16 commented on #192
@crwilcox  @callmehiphop  - is this resolved with node v2 ?

cc - @JustinBeckwith

[2018-09-24 23:10] crwilcox commented on #192
Node v2 brought the ability to change session pool strategies as well as bug fixes. I believe this is addressed by that but some of these charts come from post v2. What I am not sure about, due to not having a reproducible bit of code, is if this is an issue with the use of the library (holding on to a reference) or an issue with the implementation of our pooling.

@druman55 , I don't know if it i

[2018-09-25 01:59] allenwang7 commented on #336
@crwilcox , something like this.
[code]

[2018-09-26 20:07] druman55 commented on #192
@crwilcox - Attached are bits of the code for our database connector service for google cloud spanner that edits records in the database table.

This is run as a docker container, in a Kubernetes environment as a microservice.

The node code is run using a node cluster, where the code in service.js is the child thread code.  The parent thread just manages the children, in this case 30 child thread

[2018-09-27 00:54] ipotuzhnov opened #345 "Incorrect JSDoc for a variety of methods"
I found some discrepancies between implementation and documentation when I've tried to generate a `.d.ts` file based on JSDoc with [@otris/jsdoc-tsd](https://www.npmjs.com/package/@otris/jsdoc-tsd) npm module.

Here are some of the issues:
- [Table#read](https://github.com/googleapis/nodejs-spanner/blob/master/src/table.js#L518) method is not documented (or implemented?) correctly. When the exampl

[2018-09-27 18:41] biswanag commented on #192
@druman55 @alexliffick
If you have a support contract with GCP, could you also file a support case with Google Cloud Support? That would also help us correlate this issue with others we are tracking and help us provide you with the right level of support.

[2018-09-27 21:35] #190 closed

[2018-09-28 07:55] voltrue2 commented on #189
I am seeing this exact error occasionally in my projects also.
It would be great if the client library can handle this internally.

[2018-09-29 13:00] stephenplusplus opened #347 "Outside of Transactions, always use single-use transactions"
RE: https://github.com/googleapis/nodejs-spanner/pull/16#issuecomment-399130367

And default `strong: true` to enable strong reads.

@snehashah16 -- correct?

[2018-09-29 13:43] stephenplusplus commented on #332
Good catch. Streaming methods are difficult to return the raw response from, for a couple of reasons:

1) A stream involves more than one API response arguments
2) A stream passes through one "thing" to the user

For a query response stream, the user wants the formatted result emitted on each data event. To add on the `apiResponse` argument, we'd have to do something creative, maybe:

[code]

Bett

[2018-09-29 14:01] stephenplusplus commented on #336
Would the fix here be to do some local validation and throw an error? Or is this a bug or enhancement upstream?

[2018-09-30 21:40] stephenplusplus commented on #234
I'm going to close this issue, as it's still not clear if it is one. I will happily open it back up if anyone can provide more details on how we can reproduce.

[2018-09-30 21:40] #234 closed

[2018-10-01 04:58] snehashah16 commented on #347
i am not sure what is covered within "always use single-use transactions".. could u provide more information

[2018-10-01 07:03] callmehiphop commented on #305
@axot we have since released a new version including a refactored session pool implementation. If you upgrade to 2.0.0 I believe this issue will go away.

[2018-10-01 07:03] #305 closed

[2018-10-01 07:29] callmehiphop commented on #192
@druman55 Thanks for providing some code for us to look at! Is it safe to assume that the bulk of your code is `service.js`? I ask because while looking through your `utils-spanner.js` file I noticed a couple of instances where I would be concerned that a Database object is not being closed, but I don't see any usage of the functions in question (`refreshSession`, `getADatabase`) within `service.j

[2018-10-01 09:28] callmehiphop commented on #237
@JustinBeckwith @snehashah16 any input here?

[2018-10-01 09:32] callmehiphop commented on #336
/cc @snehashah16

[2018-10-01 12:14] JustinBeckwith commented on #237
I can really see this one both ways.  Throwing on invalid input feels like the appropriate action, but I can also see that being hard to predict, especially when the method call is nested deep in a bunch of callbacks and you're expecting the errback to be called 🤷‍♂️

In the absence of a strong preference one way or the other, I trend towards leaving it the way it is.

Curious about others thought

[2018-10-01 12:15] #249 closed

[2018-10-01 12:17] #139 closed

[2018-10-01 14:52] stephenplusplus commented on #347
This refers back to https://github.com/googleapis/nodejs-spanner/pull/16#issuecomment-399130367

[2018-10-01 19:37] snehashah16 commented on #336
There is no way to validate this in the client library.
That said, the backend should have thrown an error for exceeding mutations, and not committed any
 change.

I notice the library is using the singleUse txn [here](https://github.com/googleapis/nodejs-spanner/blob/ce8831c259f0ef84165d15adfb0e15c01eaa7c2b/src/transaction-request.js#L288). i would recommend we change it to an explicit begin txn

[2018-10-01 19:57] snehashah16 commented on #347
reading through another bug, i noticed there is a heavy usage of singleUse within node library.
for all writes (insert|update|delete), it would best performed within an explicit txn ( begin txn -> modify data -> commit). This guarantees idempotency due to replays etc. [docs here](https://github.com/googleapis/googleapis/blob/8bec26a931a0d0247ca8f7e915629ec70c27010f/google/spanner/v1/spanner.proto#

[2018-10-01 19:57] druman55 commented on #192
yeah @callmehiphop - the code in service.js is it.  getADatabase and refreshSession are legacy - still in the utils file from when we were having problems with a much earlier DB Library version that was dropping sessions after a certain amount of time and then not spinning them back up.  So, we used to run those methods to make sure our connection stayed active.  They are no longer used.

```utils

[2018-10-01 20:01] snehashah16 commented on #237
I agree, we should not convert undefined to null for several reasons:
- hard to debug
- un-intended in some cases
- backend may still throw an error for null values when columns don't support it

[2018-10-01 20:06] snehashah16 commented on #192
@JustinBeckwith - could we please remove "needs info" tag.
also could u please provide me with R/W access to this repo
also, should i assume callmehiphop is assigned to this bug until resolution ?

[2018-10-01 20:28] JustinBeckwith commented on #192
@snehashah16 I invited you to the `googleapis` github org, and added you to the spanner team.  After that, you should be set :)

[2018-10-02 08:59] callmehiphop commented on #345
@ipotuzhnov thanks for reporting! I went ahead and made a PR (#352) with a number of JSDoc fixes. I ended up going with eslint's `valid-jsdoc` rule, so I'm not 100% sure that this will entirely fix the issues you're seeing, but if you get a chance to test it out that would be super appreciated!

[2018-10-02 09:45] callmehiphop commented on #237
SGTM! I'm going to close this because it sounds like we agree the current functionality is correct.

[2018-10-02 09:45] #237 closed

[2018-10-02 17:48] #345 closed

[2018-10-02 18:08] ipotuzhnov commented on #345
@callmehiphop Thank you for looking into it! I think using `valid-jsdoc` eslint rule is a great idea. Probably it doesn't check if all the types exist and are valid, but that's a good start.

[2018-10-03 04:29] #326 closed

[2018-10-03 04:30] JustinBeckwith commented on #268
This was fixed in the 2.0 release :)

[2018-10-03 04:30] #268 closed

[2018-10-03 04:33] JustinBeckwith commented on #83
Greetings folks!  It looks like @pmadruga has a reasonable work around here.  If this is still an issue... please do let us know!

[2018-10-03 04:33] #83 closed

[2018-10-03 08:56] callmehiphop commented on #332
@stephenplusplus that could work. Alternatively, what are your feelings on emitting a `response` event *before* we start formatting/pushing rows to the user.

[code]

[2018-10-03 10:53] stephenplusplus commented on #332
That's perfect!

[2018-10-03 13:29] #241 closed

[2018-10-03 13:39] #332 closed

[2018-10-03 18:45] stephenplusplus commented on #347
For the write methods, I think that should be fine (@callmehiphop ?)

Regarding this question: https://github.com/googleapis/nodejs-spanner/pull/16#issuecomment-399130367 -- what do you think? `database.run` uses `executeStreamingSql` underneath.

[2018-10-03 18:46] stephenplusplus commented on #336
I'll close this, and we can let #347 serve as the tracker for implementing transaction usage throughout the library.